<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BetMLB</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css"> 
        <link rel="stylesheet" href="/static/nav.css"> 
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>"> 
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
        <style>
            
            table {
              border-collapse: collapse;
              width: 100%;
            }
            
            th, td {
              padding: 15px 30px;
              border: 1px solid;
            }
        </style>
        <!-- Latest compiled and minified CSS -->
        <script type="text/javascript">
            $(document).ready(function(){
                if (localStorage.getItem("darkMode") === "enabled") {
                    changeTheme(1);
                } else {
                    changeTheme(0);
                }
            })

            function setupTabs (){
                document.querySelectorAll('.tab-btn').forEach(button=>{
                    button.addEventListener('click',()=>{
                    
                    
                    const sidebar = button.parentElement;
                    const tabs = sidebar.parentElement;
                    const tabNumber = button.dataset.forTab;
                    const tabActivate = tabs.querySelector(`.tab-content[data-tab="${tabNumber}"]`)
                    
                    sidebar.querySelectorAll('.tab-btn').forEach(button=>{
                        button.classList.remove('tab-btn-active')
                    })
                    tabs.querySelectorAll('.tab-content').forEach(tab=>{
                        tab.classList.remove('tab-content-active')
                    })
                    button.classList.add('tab-btn-active')
                    tabActivate.classList.add('tab-content-active')
                    })
                })
                }

                document.addEventListener('DOMContentLoaded',()=>{
                setupTabs();
            });

            document.addEventListener('DOMContentLoaded', function() {
                var select = document.getElementById('teams');
                
                select.addEventListener('change', function() {
                var abbreviation = select.value;
                var tname = select.options[select.selectedIndex].text;

                getData(abbreviation, tname);
                });
            });

            function getData(abbreviation, name) {
                data = {}
                data['name'] = name
                data['abbreviation'] = abbreviation

                $.ajax({
                    url: '/teams', 
                    type: 'POST', 
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json',

                    beforeSend: function(){ 
                        $('#loader').show();
                        $('#tab-content').hide();
                    },

                    success: function (data) {
                        $('#loader').hide();
                        $('#tab-content').show();

                        var html='';
                        html += '<div class="win-text">WIN count:</div>';
                        html += `<div>${data['win_loss']['win']}</div>`;

                        $("#win-count").html(html);
                        html = '<div class="loss-text">LOSS count:</div>';
                        html += `<div>${data['win_loss']['loss']}</div>`;
                        $("#loss-count").html(html);

                        html='';
                        html += '<div >Total risk:</div>';
                        html += `<div>${data['pl_win_loss']['total']}</div>`;
                        $("#total-risk").html(html);

                        html = '<div >P/L:</div>';
                        html += `<div>${data['pl_win_loss']['pl']}</div>`;
                        $("#pl-risk").html(html);

                        html = '<div >Yield:</div>';
                        html += `<div>${data['pl_win_loss']['yield']}%</div>`;
                        $("#yield-risk").html(html);

                        html='';
                        html += '<div >Number of bets:</div>';
                        html += `<div>${data['bet_on']['num_bet']}</div>`;
                        $("#beton-count").html(html);

                        html = '<div >W:</div>';
                        html += `<div>${data['bet_on']['win']}</div>`;
                        $("#beton-win").html(html);

                        html = '<div >L:</div>';
                        html += `<div>${data['bet_on']['loss']}%</div>`;
                        $("#beton-loss").html(html);

                        html = '<div >Stake:</div>';
                        html += `<div>${data['bet_on']['stake']}</div>`;
                        $("#beton-stake").html(html);

                        html = '<div >P/L:</div>';
                        html += `<div>${data['bet_on']['pl']}</div>`;
                        $("#beton-pl").html(html);

                        html = '<div >Yield:</div>';
                        html += `<div>${data['bet_on']['yield']}%</div>`;
                        $("#beton-yield").html(html);


                        html='';
                        html += '<table><tr><th>BetDate</th><th>Team1</th><th>Team2</th><th>Place</th><th>Odds</th><th>Stake</th><th>Wins</th><th>Status</th><th>Site</th></tr>';
                        for(var i = 0; i < data['bet_on']['details'].length; i++) {
                            html += `<tr><td>${data['bet_on']['details'][i].betdate}</td><td>${data['bet_on']['details'][i].team1}</td><td>${data['bet_on']['details'][i].team2}</td><td>${data['bet_on']['details'][i].place}</td><td>${data['bet_on']['details'][i].odds}</td><td>${data['bet_on']['details'][i].stake}</td><td>${data['bet_on']['details'][i].wins}</td><td>${data['bet_on']['details'][i].status == 2? 'W':'L'}</td><td>${data['bet_on']['details'][i].site}</td></tr>`;
                        }
                        html += '</table>';
                        $("#beton-table").html(html);


                        html='';
                        html += '<div >Number of bets:</div>';
                        html += `<div>${data['bet_against']['num_bet']}</div>`;
                        $("#betagainst-count").html(html);

                        html = '<div >W:</div>';
                        html += `<div>${data['bet_against']['win']}</div>`;
                        $("#betagainst-win").html(html);

                        html = '<div >L:</div>';
                        html += `<div>${data['bet_against']['loss']}</div>`;
                        $("#betagainst-loss").html(html);

                        html = '<div >Stake:</div>';
                        html += `<div>${data['bet_against']['stake']}</div>`;
                        $("#betagainst-stake").html(html);

                        html = '<div >P/L:</div>';
                        html += `<div>${data['bet_against']['pl']}</div>`;
                        $("#betagainst-pl").html(html);

                        html = '<div >Yield:</div>';
                        html += `<div>${data['bet_against']['yield']}%</div>`;
                        $("#betagainst-yield").html(html);

                        html='';
                        html += '<table><tr><th>BetDate</th><th>Team1</th><th>Team2</th><th>Place</th><th>Odds</th><th>Stake</th><th>Wins</th><th>Status</th><th>Site</th></tr>';
                        for(var i = 0; i < data['bet_against']['details'].length; i++) {
                            html += `<tr><td>${data['bet_against']['details'][i].betdate}</td><td>${data['bet_against']['details'][i].team1}</td><td>${data['bet_against']['details'][i].team2}</td><td>${data['bet_against']['details'][i].place}</td><td>${data['bet_against']['details'][i].odds}</td><td>${data['bet_against']['details'][i].stake}</td><td>${data['bet_against']['details'][i].wins}</td><td>${data['bet_against']['details'][i].status == 2? 'W':'L'}</td><td>${data['bet_against']['details'][i].site}</td></tr>`;
                        }
                        html += '</table>';
                        $("#betagainst-table").html(html);

                        html='';
                        html += '<div >Number of bets:</div>';
                        html += `<div>${data['HeavyU']['num_bet']}</div>`;
                        $("#HeavyU-count").html(html);

                        html = '<div >W:</div>';
                        html += `<div>${data['HeavyU']['win']}</div>`;
                        $("#HeavyU-win").html(html);

                        html = '<div >L:</div>';
                        html += `<div>${data['HeavyU']['loss']}</div>`;
                        $("#HeavyU-loss").html(html);

                        html = '<div >Stake:</div>';
                        html += `<div>${data['HeavyU']['stake']}</div>`;
                        $("#HeavyU-stake").html(html);

                        html = '<div >P/L:</div>';
                        html += `<div>${data['HeavyU']['pl']}</div>`;
                        $("#HeavyU-pl").html(html);

                        html = '<div >Yield:</div>';
                        html += `<div>${data['HeavyU']['yield']}%</div>`;
                        $("#HeavyU-yield").html(html);

                        html='';
                        html += '<div >Number of bets:</div>';
                        html += `<div>${data['LightU']['num_bet']}</div>`;
                        $("#LightU-count").html(html);

                        html = '<div >W:</div>';
                        html += `<div>${data['LightU']['win']}</div>`;
                        $("#LightU-win").html(html);

                        html = '<div >L:</div>';
                        html += `<div>${data['LightU']['loss']}</div>`;
                        $("#LightU-loss").html(html);

                        html = '<div >Stake:</div>';
                        html += `<div>${data['LightU']['stake']}</div>`;
                        $("#LightU-stake").html(html);

                        html = '<div >P/L:</div>';
                        html += `<div>${data['LightU']['pl']}</div>`;
                        $("#LightU-pl").html(html);

                        html = '<div >Yield:</div>';
                        html += `<div>${data['LightU']['yield']}%</div>`;
                        $("#LightU-yield").html(html);

                        html='';
                        html += '<div >Number of bets:</div>';
                        html += `<div>${data['Even']['num_bet']}</div>`;
                        $("#Even-count").html(html);

                        html = '<div >W:</div>';
                        html += `<div>${data['Even']['win']}</div>`;
                        $("#Even-win").html(html);

                        html = '<div >L:</div>';
                        html += `<div>${data['Even']['loss']}</div>`;
                        $("#Even-loss").html(html);

                        html = '<div >Stake:</div>';
                        html += `<div>${data['Even']['stake']}</div>`;
                        $("#Even-stake").html(html);

                        html = '<div >P/L:</div>';
                        html += `<div>${data['Even']['pl']}</div>`;
                        $("#Even-pl").html(html);

                        html = '<div >Yield:</div>';
                        html += `<div>${data['Even']['yield']}%</div>`;
                        $("#Even-yield").html(html);

                        html='';
                        html += '<div >Number of bets:</div>';
                        html += `<div>${data['LightF']['num_bet']}</div>`;
                        $("#LightF-count").html(html);

                        html = '<div >W:</div>';
                        html += `<div>${data['LightF']['win']}</div>`;
                        $("#LightF-win").html(html);

                        html = '<div >L:</div>';
                        html += `<div>${data['LightF']['loss']}</div>`;
                        $("#LightF-loss").html(html);

                        html = '<div >Stake:</div>';
                        html += `<div>${data['LightF']['stake']}</div>`;
                        $("#LightF-stake").html(html);

                        html = '<div >P/L:</div>';
                        html += `<div>${data['LightF']['pl']}</div>`;
                        $("#LightF-pl").html(html);

                        html = '<div >Yield:</div>';
                        html += `<div>${data['LightF']['yield']}%</div>`;
                        $("#LightF-yield").html(html);

                        html='';
                        html += '<div >Number of bets:</div>';
                        html += `<div>${data['HeavyF']['num_bet']}</div>`;
                        $("#HeavyF-count").html(html);

                        html = '<div >W:</div>';
                        html += `<div>${data['HeavyF']['win']}</div>`;
                        $("#HeavyF-win").html(html);

                        html = '<div >L:</div>';
                        html += `<div>${data['HeavyF']['loss']}</div>`;
                        $("#HeavyF-loss").html(html);

                        html = '<div >Stake:</div>';
                        html += `<div>${data['HeavyF']['stake']}</div>`;
                        $("#HeavyF-stake").html(html);

                        html = '<div >P/L:</div>';
                        html += `<div>${data['HeavyF']['pl']}</div>`;
                        $("#HeavyF-pl").html(html);

                        html = '<div >Yield:</div>';
                        html += `<div>${data['HeavyF']['yield']}%</div>`;
                        $("#HeavyF-yield").html(html);

                        html='';
                        html += '<table><tr><th>GameDate</th><th>Team1</th><th>Team2</th><th>Open Price</th><th>Close Price</th><th>Price Movement</th></tr>';
                        for(var i = 0; i < data['price'].length; i++) {
                            html += `<tr><td>${data['price'][i].game_date}</td><td>${data['price'][i].away}</td><td>${data['price'][i].home}</td><td>${data['price'][i].open_price}</td><td>${data['price'][i].close_price}</td><td ${getPriceMovement(data['price'][i].open_price, data['price'][i].close_price) > 0 ? 'style="background-color: green;"': 'style="background-color: red;"'}>${getPriceMovement(data['price'][i].open_price, data['price'][i].close_price)}</td></tr>`;
                        }
                        html += '</table>';
                        $("#price-table").html(html);

                        html = ''
                        
                        html += `<option value="" style="text-align: center; padding:5px 10px; font-size: 20px;">—</option>`
                        for (var n = 0; n < data['players'].length; n++){
                            html += `<option value='${data['players'][n].p_id}' style="text-align: center; padding:5px 10px; font-size: 20px;">${data['players'][n].p_name}</option>`
                        }
                        $('#team-player').html(html);

                        if (localStorage.getItem("darkMode") === "enabled") {
                            changeTheme(1);
                        } else {
                            changeTheme(0);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX request failed:", error);
                    }
                })
            }

            function selectStarter(pid) {
                if (pid == '')
                    reutrn;

                data = {}
                data['pid'] = pid
                
                $.ajax({
                    url: '/starterprice', 
                    type: 'POST', 
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json',

                    beforeSend: function(){ 
                        $('#loader').show();
                        $('#tab-content').hide();
                    },

                    success: function (data) {
                        $('#loader').hide();
                        $('#tab-content').show();
                        
                        html='';
                        html += '<table><tr><th>GameDate</th><th>Team1</th><th>Team2</th><th>Open Price</th><th>Close Price</th><th>Price Movement</th></tr>';
                        for(var i = 0; i < data['playerprice'].length; i++) {
                            html += `<tr><td>${data['playerprice'][i].game_date}</td><td>${data['playerprice'][i].away}</td><td>${data['playerprice'][i].home}</td><td>${data['playerprice'][i].open_price}</td><td>${data['playerprice'][i].close_price}</td><td ${getPriceMovement(data['playerprice'][i].open_price, data['playerprice'][i].close_price) > 0 ? 'style="background-color: green;"': 'style="background-color: red;"'}>${getPriceMovement(data['playerprice'][i].open_price, data['playerprice'][i].close_price)}</td></tr>`;
                        }
                        html += '</table>';
                        $("#starter-price-table").html(html);
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX request failed:", error);
                    }
                })
            }
        function getPriceMovement(openprice, closeprice) {
            if (openprice >= 100 && closeprice >= 100) 
                return closeprice - openprice;
            else if (openprice <= -100 && closeprice <= -100)
                return closeprice - openprice;
            else if (openprice >= 100 && closeprice <= -100)
                return closeprice - openprice + 200;
            else if (openprice <= -100 && closeprice >= 100)
                return closeprice - openprice - 200;
        }
        </script>
    </head>
    <body onload="getData('{{data[0].abbreviation}}', '{{data[0].tname}}')">
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header"><div class="nav-title">BetMLB</div></div>
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
            
            <div class="nav-links">
              <a href="/">Home</a>
              <a href="/database">Database</a>
              <a href="/showbetting">Accounting</a>
              <a href="#" onclick="updateTeam()" >UpdateTeam</a>
            </div>
            <div id="update-loader" style="display: none;"><img style="width: 50px;" src="/static/loader.gif"/></div>
        </div>
        <div style="margin-left: 50px; margin-top: 100px; display: flex; justify-content: space-between; align-items: center;">
            <div style="display: flex; align-items: center;">
                <label for="teams" style="font-size: 25px;">Select team:</label>
                <select name="teams" id="teams" style="font-size: 20px; height: auto; width: auto; text-align: center; color: white; background-color: rgb(49, 47, 47); padding: 5px; margin-left: 20px;">
                    {% for team in data %}
                        <option value="{{team.abbreviation}}">{{team.tname}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="container">
            <div class="team-tabs">
                <div class="sidebar">
                   <button class="tab-btn tab-btn-active" data-for-tab="1">Win Loss</button>
                   <button class="tab-btn" data-for-tab="2">P/L Win Loss</button>
                   <button class="tab-btn" data-for-tab="3">Bet On</button>
                   <button class="tab-btn" data-for-tab="4">Bet Against</button>
                   <button class="tab-btn" data-for-tab="5">Performance-Price</button>
                   <button class="tab-btn" data-for-tab="6">Price Movements Team</button>
                   <button class="tab-btn" data-for-tab="7">Price Movements Starting Pitcher</button>
                 </div>
                <div id="loader"><img style="width: 50px; margin-top: 220px;" src="/static/loader.gif"/></div>
                <div class="content" id="tab-content">
                    <div class="tab-content tab-content-active" data-tab="1">
                        <div class="win-loss-container">
                            <div class="win-loss-row" id="win-count">
                            </div>
                            <div class="win-loss-row" id="loss-count">
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" data-tab="2">
                        <div class="win-loss-container">
                            <div class="win-loss-row" id="total-risk">
                            </div>
                            <div class="win-loss-row" id="pl-risk">
                            </div>
                            <div class="win-loss-row" id="yield-risk">
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" data-tab="3">
                        <div class="bet-container">
                            <div class="win-loss-row" id="beton-count">
                            </div>
                            <div class="win-loss-row" id="beton-win">
                            </div>
                            <div class="win-loss-row" id="beton-loss">
                            </div>
                            <div class="win-loss-row" id="beton-stake">
                            </div>
                            <div class="win-loss-row" id="beton-pl">
                            </div>
                            <div class="win-loss-row" id="beton-yield">
                            </div>
                        </div>
                        <div class="table-content" id = 'beton-table'>
                        </div>
                    </div>
                    <div class="tab-content" data-tab="4">
                        <div class="bet-container">
                            <div class="win-loss-row" id="betagainst-count">
                            </div>
                            <div class="win-loss-row" id="betagainst-win">
                            </div>
                            <div class="win-loss-row" id="betagainst-loss">
                            </div>
                            <div class="win-loss-row" id="betagainst-stake">
                            </div>
                            <div class="win-loss-row" id="betagainst-pl">
                            </div>
                            <div class="win-loss-row" id="betagainst-yield">
                            </div>
                        </div>
                        <div class="table-content" id = 'betagainst-table'>
                        </div>
                    </div>
                    <div class="tab-content" data-tab="5">
                        <div class="odds-group-container">
                            <div class="group-container">
                                <div class="odds-group-title">
                                    <div>Heavy Underdog (above 150)</div>
                                </div>
                                <div class="odds-group-row" id="HeavyU-count">
                                </div>
                                <div class="odds-group-row" id="HeavyU-win">
                                </div>
                                <div class="odds-group-row" id="HeavyU-loss">
                                </div>
                                <div class="odds-group-row" id="HeavyU-stake">
                                </div>
                                <div class="odds-group-row" id="HeavyU-pl">
                                </div>
                                <div class="odds-group-row" id="HeavyU-yield">
                                </div>
                            </div>
                            <div class="group-container">
                                <div class="odds-group-title">
                                    <div>Light Underdog (115 ~ 149)</div>
                                </div>
                                <div class="odds-group-row" id="LightU-count">
                                </div>
                                <div class="odds-group-row" id="LightU-win">
                                </div>
                                <div class="odds-group-row" id="LightU-loss">
                                </div>
                                <div class="odds-group-row" id="LightU-stake">
                                </div>
                                <div class="odds-group-row" id="LightU-pl">
                                </div>
                                <div class="odds-group-row" id="LightU-yield">
                                </div>
                            </div>
                            <div class="group-container">
                                <div class="odds-group-title">
                                    <div>Even game (-114 ~ 114)</div>
                                </div>
                                <div class="odds-group-row" id="Even-count">
                                </div>
                                <div class="odds-group-row" id="Even-win">
                                </div>
                                <div class="odds-group-row" id="Even-loss">
                                </div>
                                <div class="odds-group-row" id="Even-stake">
                                </div>
                                <div class="odds-group-row" id="Even-pl">
                                </div>
                                <div class="odds-group-row" id="Even-yield">
                                </div>
                            </div>
                        </div>
                        <div class="odds-group-container">
                            <div class="group-container">
                                <div class="odds-group-title">
                                    <div>Light Favourite (-149 ~ -115)</div>
                                </div>
                                <div class="odds-group-row" id="LightF-count">
                                </div>
                                <div class="odds-group-row" id="LightF-win">
                                </div>
                                <div class="odds-group-row" id="LightF-loss">
                                </div>
                                <div class="odds-group-row" id="LightF-stake">
                                </div>
                                <div class="odds-group-row" id="LightF-pl">
                                </div>
                                <div class="odds-group-row" id="LightF-yield">
                                </div>
                            </div>
                            <div class="group-container">
                                <div class="odds-group-title">
                                    <div>Heavy Favourite ( under -150)</div>
                                </div>
                                <div class="odds-group-row" id="HeavyF-count">
                                </div>
                                <div class="odds-group-row" id="HeavyF-win">
                                </div>
                                <div class="odds-group-row" id="HeavyF-loss">
                                </div>
                                <div class="odds-group-row" id="HeavyF-stake">
                                </div>
                                <div class="odds-group-row" id="HeavyF-pl">
                                </div>
                                <div class="odds-group-row" id="HeavyF-yield">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" data-tab="6">
                        <div class="table-content" id = 'price-table'>
                        </div>
                    </div>
                    <div class="tab-content" data-tab="7">
                        <div style="margin-top: 50px;">
                            <select name="team-player" id="team-player" style="width: 100%; text-align: center; padding:5px 10px; font-size: 20px; height: 40px;" onchange="selectStarter(this.value)" required>
                                <option value="" style="text-align: center; padding:5px 10px; font-size: 20px;">—</option>
                            </select>
                        </div>
                        <div class="table-content" id = 'starter-price-table'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
