:root {
    --blue: #222C35;
    --light-blue: #3E95CD;
    --off-white: #FCFCFC;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    background-color: var(--off-white);
    color: var(--blue); 
    font-family: 'Open Sans', sans-serif;
}
.container{
	margin: 25px 40px;
    text-align: center;
}
.header{
	display: grid; 
	grid-template-columns: .3fr .7fr;
}
.nav-bar{
    position: relative; 
    right:-200px; 
    float: right;
    margin: 20px auto;
}
li { 
    display: inline;
    margin: 0 55px 0 0 ;
    color: var(--blue);
    text-decoration: none;
	font-size: 18px;
}
a{ 
    text-decoration: none;
    color: #222C35;
}
.solid-button{
	width: 250px; 
	height: 43px; 
	border-radius: 3px;
	background-color: var(--blue);
	border: none; 
	box-shadow: none;
	color: #FCFCFC; 
	font-size: 20px;
}
.solid-button:hover{
	background-color: var(--light-blue);
    cursor: pointer;
    transition: .2s ease-in-out;
}
#loader{
	display: none;
	margin: 0 auto;
	width: 50px; 
	height: 50px;
}
#loader2{
	display: none;
	margin: 0 auto;
	width: 50px; 
	height: 50px;
}
.card-grid{
	margin: 10px auto;
    text-align: center;
	grid-template-columns: auto;
}
.card{
	width: 360px;
    height: 600px;
	background-color: #FFF;
	border-radius: 5px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;
    padding: 20px 0;
    margin: 20px;
    display: inline-block;
	border: solid;
}

.div-container{
	display: flex; 
	align-items:center; 
	border:2px solid rgba(52, 54, 53, 0.26); 
	padding: 2px; 
	margin-bottom: 8px;
}

.average-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto;
	gap: 1px;
	background-color: white;
	padding: 1px;
}

.batter-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
	gap: 1px;
	background-color: white;
	padding: 1px;
}

.pitcher-container {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto;
	gap: 1px;
	background-color: white;
	padding: 1px;
}

.average-container > div {
	background-color: gray;
	text-align: center;
	color: white;
	padding: 10px 6px;
	font-size: 13px;
}

.batter-container > div {
	background-color: gray;
	text-align: center;
	color: white;
	padding: 10px 6px;
	font-size: 13px;
}
  
.pitcher-container > div {
	background-color: gray;
	text-align: center;
	color: white;
	padding: 10px 0;
	font-size: 13px;
}

.card-title{
    font-weight: 500;
    font-size: 20px;
	color: black;
}

.game-date{
	font-size:16px;
	color:var(--light-blue);
}
.small-solid-button{
    width: 125px; 
    height: 35px; 
    border-radius: 3px;
    background-color: var(--blue);
    border: none; 
    box-shadow: none;
    color: #FCFCFC; 
    font-size: 16px;
	margin-top: 8px;
}
.small-solid-button:hover{
    background-color: var(--light-blue);
    cursor: pointer; 
    transition: .2s ease-in-out;
}
.large-card{
	height: 670px;
	background-color: #FFF;
	border-radius: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	margin: 0 auto;
	padding: 0 25px;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
	-webkit-box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
	box-shadow:  0px 0px 0px 9999px rgba(0, 0, 0, 0.5);
    overflow: auto;
}
.large-card-title{
    display: block; 
    text-align: center;
    margin: 10px  auto; 
    font-size: 25px;
    font-weight: 500;
}
.large-game-date{
	display: block; 
    text-align: center;
    margin: 10px  auto; 
    font-size: 20px;
    color: var(--light-blue);
}
.form-wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.betting-wrapper{
	display:grid;
    grid-template-columns: auto auto auto auto auto;
	margin-top: 8px;
	position: relative;
    left: -3px;
}

.kelly-wrapper{
	display:grid;
    grid-template-columns: auto auto auto auto;
	margin-top: 8px;
	position: relative;
    left: -3px;
}

.kelly-col{
    display: block;
    text-align: center;
    width: 80px;
}

.betting-title{
	text-align: center;
    color: #555;
    font-weight: bold;
    margin-top: 16px;
}

.form-left{
    display:block;
	text-align: center;
	padding-top: 5px;
    padding-bottom: 5px
}
.form-right{
    display:block;	
	text-align: center;
	padding-top: 5px;
    padding-bottom: 5px
}
.form-row{
    display: block; 
    margin: 10px;
    font-size: 15px;
}
hr{
	height: 1px;
	background-color: var(--blue);
	border: none;
}

select{
	background-color: #FFF;
	border: solid var(--light-blue) 1px;
	border-radius: 3px;
	height: 20px;
}
.select-label{
	margin: 0 9px; 
}
.submit-button{ 
    width: 150px; 
    height: 35px; 
    margin: 100px auto;
    border: solid .5px black;
    border-radius: 3px;
    text-align: center;
    display: block;
	background-color: var(--blue);
	border: none; 
	box-shadow: none;
	color: #FCFCFC; 
	font-size: 18px;
}
.submit-button:hover{
	background-color: var(--light-blue);
    cursor: pointer; 
    transition: .2s ease-in-out;
}
.close-button{ 
    background: none; 
    box-shadow: none; 
    border: none;
    color: var(--light-blue);
    font-family: 'Open Sans', sans-serif;
    margin: 15px 0 -30px; 
    font-size: 14px;
}
.close-button:hover{ cursor: pointer}
.tabs{
	width: 400px; 
	height: 40px; 
	margin: 40px auto;
	text-align: center;
	border-radius: 3px;
	display: table; 
	border: 2px solid var(--blue);

}
.tab-button{
	height: 40px; 
	width: 200px; 
	font-size: 18px; 
	text-align: center; 
	box-shadow: none; 
	border: none;
	margin: 0 auto;
	line-height: 40px;
	background: none;
}
.tab-button:hover{
	background-color: var(--blue);
	color: #FFF;
}
.active{
	background-color: var(--blue);
	color: #FFF;
}
input[type=date]{
	background-color: #FFF;
	border: solid var(--light-blue) 1px;
	border-radius: 3px;
	height: 20px;
    font-family: 'Open Sans', sans-serif;
    width: 130px;
}





.input-box{
    background-color: #FFF;
    border: none;
    border: 2px solid var(--light-blue); 
    text-align: center;
    width: 100px;
	height: 40px;
	border-radius: 3px;
	line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    float: right;
    font-size: 16px;
}
.input-box:focus{
    outline: none !important;
    border: 2px solid var(--blue); 
}
.form-left-wrapper{
    margin: 0 auto; 
    width: 80%;
}
.form-right-wrapper{
    margin: 0 auto; 
    width: 80%;
}
.label{
    float: left;
    line-height: 45px;
}
.calc-row{ 
    margin: 30px auto;
}

.table{ 
    border: solid 1.5px var(--blue);
    border-radius: 3px;
    width: 300px;
    margin-top: 10px; 
}
tr{ 
    height: 25px;
}


.team-grid {
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 80px;
    margin-top: 40px auto;
    }
    
.al-east { grid-area: 1 / 1 / 2 / 2; }
.al-central { grid-area: 1 / 2 / 2 / 3; }
.al-west { grid-area: 1 / 3 / 2 / 4; }
.nl-east { grid-area: 2 / 1 / 3 / 2; }
.nl-central { grid-area: 2 / 2 / 3 / 3; }
.nl-west { grid-area: 2 / 3 / 3 / 4; }

.team-title{ 
    font-size: 19px; 
    font-weight: bold;  
}

.grid-container{ 
    margin-top: 75px;
}

.team-name{ 
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}

.query-row{ 
    margin: 0 auto;
    text-align: center
}
.medium-solid-button{
    width: 175px; 
    height: 45px; 
    border-radius: 3px;
    background-color: var(--blue);
    border: none; 
    box-shadow: none;
    color: #FCFCFC; 
    font-size: 16px;
}

.medium-solid-button:hover{
    background-color: var(--light-blue);
    cursor: pointer; 
    transition: .2s ease-in-out;
}

.update-block{
    width: 400px;
    margin: 60px auto 0;
    text-align: center;
}

.update-text{ 
    font-size: 13px; 
    color: var(--blue)
}

.database{
    text-align: center;
    color: red;
    font-size: 20px;
    font-weight: bold;
    padding: 3px;
}
.table-link{
    text-align: center; 
    color: rgba(51, 0, 255, 0.905); 
    text-decoration: underline;
}

* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	color: #546E7A;
}
.wrapper {
	max-width: 18rem;
	padding: 0 0.5rem;
	margin-left: auto;
	margin-right: auto;
	padding-top: 4rem;
}

.home_input{
	font-family: 'Roboto', sans-serif;
	display:block;
	border: none;
	border-radius: 0.25rem;
	border: 1px solid transparent;
	line-height: 1.5rem;
	padding: 0;
	font-size: 1rem;
	color: #607D8B;
	width: 100%;
	margin-top: 0.5rem;
}

.home_label{
	font-size: 0.75rem;
	font-weight: 400;
	display: block;
	margin-bottom: 0.5rem;
	color: #B0BEC5;
	border: 1px solid #ECEFF1;
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
}

input:focus {outline: none;}
#ui-datepicker-div {
	display: none;
	background-color: #fff;
	box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
	margin-top: 0.25rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.ui-datepicker-calendar thead th {
	padding: 0.25rem 0;
	text-align: center;
	font-size: 0.75rem;
	font-weight: 400;
	color: #78909C;
}
.ui-datepicker-calendar tbody td {
	width: 2.5rem;
	text-align: center;
	padding: 0;
}
.ui-datepicker-calendar tbody td a {
	display: block;
	border-radius: 0.25rem;
	line-height: 2rem;
	transition: 0.3s all;
	color: #546E7A;
	font-size: 0.875rem;
	text-decoration: none;
}
.ui-datepicker-calendar tbody td a:hover {	
	background-color: #E0F2F1;
}
.ui-datepicker-calendar tbody td a.ui-state-active {
	background-color: #009688;
	color: white;
}
.ui-datepicker-header a.ui-corner-all {
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	border-radius: 0.25rem;
	transition: 0.3s all;
}
.ui-datepicker-header a.ui-corner-all:hover {
	background-color: #ECEFF1;
}
.ui-datepicker-header a.ui-datepicker-prev {	
	left: 0;	
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
	background-repeat: no-repeat;
	background-size: 0.5rem;
	background-position: 50%;
	transform: rotate(180deg);
}
.ui-datepicker-header a.ui-datepicker-next {
	right: 0;
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==');
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 50%;
}
.ui-datepicker-header a>span {
	display: none;
}
.ui-datepicker-title {
	text-align: center;
	line-height: 2rem;
	margin-bottom: 0.25rem;
	font-size: 0.875rem;
	font-weight: 500;
	padding-bottom: 0.25rem;
}
.ui-datepicker-week-col {
	color: #78909C;
	font-weight: 400;
	font-size: 0.75rem;
}

.card-table{
	width: 110px;
}

.betting-table{
	width: 70px;
}

.kelly-table{
	width: 80px;
}

.model-content{
	font-size: 17px;
    color: red;
}

.betting-content{
	font-size: 15px;
    color: blue;
}

.model-title{
	font-size: 10px;
}
  
.scrolling-game {
	max-height: 680px; /* Set the maximum height of the div; adjust as needed */
	overflow-y: hidden; /* Initially hide the vertical scrollbar */
	border: 1px solid #ccc; /* Optional: Add a border to visualize the div */
	transition: overflow-y 0.3s ease; /* Add smooth transition to the scrollbar */
}
  
.scrolling-game:hover {
	overflow-y: auto; /* Display vertical scrollbar when hovering */
}

.predict-win {
	max-height: 678px; /* Set the maximum height of the div; adjust as needed */
	overflow-y: hidden; /* Initially hide the vertical scrollbar */
	border: 1px solid #ccc; /* Optional: Add a border to visualize the div */
	transition: overflow-y 0.3s ease; /* Add smooth transition to the scrollbar */
	color: red;
}
  
.predict-win {
	overflow-y: auto; /* Display vertical scrollbar when hovering */
}

.scrolling-player {
	max-height: 645px; /* Set the maximum height of the div; adjust as needed */
	overflow-y: hidden; /* Initially hide the vertical scrollbar */
	border: 1px solid #ccc; /* Optional: Add a border to visualize the div */
	transition: overflow-y 0.3s ease; /* Add smooth transition to the scrollbar */
}
  
.scrolling-player:hover {
	overflow-y: auto; /* Display vertical scrollbar when hovering */
}

.scrolling-batter {
	max-height: 645px; /* Set the maximum height of the div; adjust as needed */
	overflow-y: hidden; /* Initially hide the vertical scrollbar */
	border: 1px solid #ccc; /* Optional: Add a border to visualize the div */
	transition: overflow-y 0.3s ease; /* Add smooth transition to the scrollbar */
}
  
.scrolling-batter:hover {
	overflow-y: auto; /* Display vertical scrollbar when hovering */
}

.scrolling-pitcher {
	max-height: 645px; /* Set the maximum height of the div; adjust as needed */
	overflow-y: hidden; /* Initially hide the vertical scrollbar */
	border: 1px solid #ccc; /* Optional: Add a border to visualize the div */
	transition: overflow-y 0.3s ease; /* Add smooth transition to the scrollbar */
}
  
.scrolling-pitcher:hover {
	overflow-y: auto; /* Display vertical scrollbar when hovering */
}

.match-card {
    display: flex;
    background-color: #798a96;
    border: 1px solid black;
    margin: 2px;
    text-align: center;
    overflow-x: auto;
}

.match-card:hover {
	background-color: #263d53;
	cursor: pointer;
}

.checkbox{
	margin:20px;
  }
  
  .checkbox label {
	min-height: 21px;
	padding-left: 20px;
	margin-bottom: 0;
	font-weight: normal;
	cursor: pointer;
	line-height:22px;
  }
  
  .c-checkbox span {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-left: -20px;
	width: 20px;
	height: 20px;
	border-radius: 2px;
	border: 1px solid #ccc;
	text-align: center;
  }
  
  .c-checkbox span:before{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	text-align: center !important;
	font-size: 12px;
	line-height: 18px;
	vertical-align: middle;
  }
  
  .c-checkbox input[type=checkbox]{
	position:absolute;
	margin: 4px 0 0;
	opacity:0;
  }
  
  .c-checkbox input[type=checkbox]:checked {
  color: #fff;
  transition: color 0.3s ease-out;
  }
  
  .c-checkbox input[type=checkbox]:checked + span{
  border-color: #5d9cec;
  background-color: #5d9cec;
  }
  
  .c-checkbox input[type=checkbox]:checked + span:before{
	color: #fff;
  opacity: 1;
  transition: color 0.3s ease-out;
  }

  .get-predict {
	margin-left: 30px; 
	background-color: #043971; 
	color: white; 
	cursor: pointer;
  }

  .get-predict :hover {
	background-color: #0a63c2;
  }