<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetMLB</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
    <style>
        table {
        font-family: "Fraunces", serif;
        font-size: 125%;
        white-space: nowrap;
        margin: 0;
        border: none;
        border-collapse: separate;
        border-spacing: 0;
        table-layout: fixed;
        border: 1px solid black;
        }
        table td,
        table th {
        border: 1px solid black;
        padding: 0.5rem 1rem;
        }
        table thead th {
        padding: 3px;
        position: sticky;
        top: 0;
        z-index: 1;
        width: 25vw;
        background: white;
        }
        table td {
        background: #fff;
        padding: 4px 5px;
        text-align: center;
        }

        .bodyth{
        font-weight: 100;
        font-style: italic;
        text-align: left;
        position: relative;
        }
        table thead th:first-child {
        position: sticky;
        left: 0;
        z-index: 2;
        }
        .bodyth {
        position: sticky;
        left: 0;
        background: white;
        z-index: 1;
        }
        caption {
        text-align: left;
        padding: 0.25rem;
        position: sticky;
        left: 0;
        }

        [role="region"][aria-labelledby][tabindex] {
        width: 100%;
        max-height: 98vh;
        overflow: auto;
        }
        [role="region"][aria-labelledby][tabindex]:focus {
        box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
        outline: 0;
        }
            
    </style>
    <script>
    function changeData() {
    var team_name, team_abbr, count;
    var data = {};

    
    team_name = $("#team option:selected").text();
    team_abbr = $("#team").val();
    player = $("#player").val();
    if(player == 'batter') 
        $("#positiontext").text('Positioning');
    else if(player == 'pitcher')
        $("#positiontext").text('Bullpen');
    count = $("#count option:selected").text();
    
    if($("#season").val() > 2099 || $("#season").val() < 1900)
    {
        alert("Invalid year! Retype year.");
        return;
    }
    
    // if(team_name.length == 0)
    // {
    //     alert("Please select team");
    //     return;
    // }
    
    data['name'] = team_name;
    data['abbr'] = team_abbr;
    data['count'] = count;
    data['player'] = player;
    data['year'] = $("#season").val();
    
    var isCheckedposition = $("#position").prop('checked');
    if (isCheckedposition) {
        document.getElementById('team_page').style.display = 'none';
        if(player == 'batter') {
            document.getElementById('position_page').style.display = 'block';
            document.getElementById('bullpen_page').style.display = 'none';
            $.ajax({
                url: '/position_page',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json',
                beforeSend: function () {
                    document.getElementById('pageloader').style.display = 'block';
                },

                success: function (data) {
                    document.getElementById('pageloader').style.display = 'none';
                    // $("#total_game").text(data['total_count']);
                    $("#game_count").text(data['game_count']);
                    var html='';
                    html+='<thead><tr">';
                    html+=`<th class="border border-black">Position</th>`;
                    html+=`<th class="border border-black">Player1</th>`;
                    html+=`<th class="border border-black">Player2</th>`;
                    html+=`<th class="border border-black">Player3</th>`;
                    html+=`<th class="border border-black">Player4</th>`;
                    html+=`</tr></thead><tbody  class='border border-black'>`;
                    html+=`<tr class="border border-black">`;
                    html+=`<td class="border border-black bodyth" style="text-align: center;">C</td>`;
                    html+=`<td class="border border-black bg-green-500">${data['c'][0]['c']}-${(100 * data['c'][0]['c_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-yellow-300">${data['c'][1]['c']}-${(100 * data['c'][1]['c_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-orange-500">${data['c'][2]['c']}-${(100 * data['c'][2]['c_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-rose-500">${data['c'][3]['c']}-${(100 * data['c'][3]['c_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+='</tr>'
                    html+=`<tr class="border border-black">`;
                    html+=`<td class="border border-black bodyth" style="text-align: center;">1B</td>`;
                    html+=`<td class="border border-black bg-green-500">${data['b1'][0]['b1']}-${(100 * data['b1'][0]['b1_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-yellow-300">${data['b1'][1]['b1']}-${(100 * data['b1'][1]['b1_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-orange-500">${data['b1'][2]['b1']}-${(100 * data['b1'][2]['b1_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-rose-500">${data['b1'][3]['b1']}-${(100 * data['b1'][3]['b1_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+='</tr>'
                    html+=`<tr class="border border-black">`;
                    html+=`<td class="border border-black bodyth" style="text-align: center;">2B</td>`;
                    html+=`<td class="border border-black bg-green-500">${data['b2'][0]['b2']}-${(100 * data['b2'][0]['b2_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-yellow-300">${data['b2'][1]['b2']}-${(100 * data['b2'][1]['b2_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-orange-500">${data['b2'][2]['b2']}-${(100 * data['b2'][2]['b2_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-rose-500">${data['b2'][3]['b2']}-${(100 * data['b2'][3]['b2_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+='</tr>'
                    html+=`<tr class="border border-black">`;
                    html+=`<td class="border border-black bodyth" style="text-align: center;">3B</td>`;
                    html+=`<td class="border border-black bg-green-500">${data['b3'][0]['b3']}-${(100 * data['b3'][0]['b3_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-yellow-300">${data['b3'][1]['b3']}-${(100 * data['b3'][1]['b3_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-orange-500">${data['b3'][2]['b3']}-${(100 * data['b3'][2]['b3_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-rose-500">${data['b3'][3]['b3']}-${(100 * data['b3'][3]['b3_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+='</tr>'
                    html+=`<tr class="border border-black">`;
                    html+=`<td class="border border-black bodyth" style="text-align: center;">SS</td>`;
                    html+=`<td class="border border-black bg-green-500">${data['ss'][0]['ss']}-${(100 * data['ss'][0]['ss_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-yellow-300">${data['ss'][1]['ss']}-${(100 * data['ss'][1]['ss_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-orange-500">${data['ss'][2]['ss']}-${(100 * data['ss'][2]['ss_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-rose-500">${data['ss'][3]['ss']}-${(100 * data['ss'][3]['ss_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+='</tr>'
                    html+=`<tr class="border border-black">`;
                    html+=`<td class="border border-black bodyth" style="text-align: center;">LF</td>`;
                    html+=`<td class="border border-black bg-green-500">${data['lf'][0]['lf']}-${(100 * data['lf'][0]['lf_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-yellow-300">${data['lf'][1]['lf']}-${(100 * data['lf'][1]['lf_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-orange-500">${data['lf'][2]['lf']}-${(100 * data['lf'][2]['lf_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-rose-500">${data['lf'][3]['lf']}-${(100 * data['lf'][3]['lf_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+='</tr>'
                    html+=`<tr class="border border-black">`;
                    html+=`<td class="border border-black bodyth" style="text-align: center;">CF</td>`;
                    html+=`<td class="border border-black bg-green-500">${data['cf'][0]['cf']}-${(100 * data['cf'][0]['cf_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-yellow-300">${data['cf'][1]['cf']}-${(100 * data['cf'][1]['cf_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-orange-500">${data['cf'][2]['cf']}-${(100 * data['cf'][2]['cf_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-rose-500">${data['cf'][3]['cf']}-${(100 * data['cf'][3]['cf_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+='</tr>'
                    html+=`<tr class="border border-black">`;
                    html+=`<td class="border border-black bodyth" style="text-align: center;">RF</td>`;
                    html+=`<td class="border border-black bg-green-500">${data['rf'][0]['rf']}-${(100 * data['rf'][0]['rf_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-yellow-300">${data['rf'][1]['rf']}-${(100 * data['rf'][1]['rf_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-orange-500">${data['rf'][2]['rf']}-${(100 * data['rf'][2]['rf_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-rose-500">${data['rf'][3]['rf']}-${(100 * data['rf'][3]['rf_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+='</tr>'
                    html+=`<tr class="border border-black">`;
                    html+=`<td class="border border-black bodyth" style="text-align: center;">DH</td>`;
                    html+=`<td class="border border-black bg-green-500">${data['dh'][0]['dh']}-${(100 * data['dh'][0]['dh_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-yellow-300">${data['dh'][1]['dh']}-${(100 * data['dh'][1]['dh_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-orange-500">${data['dh'][2]['dh']}-${(100 * data['dh'][2]['dh_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+=`<td class="border border-black bg-rose-500">${data['dh'][3]['dh']}-${(100 * data['dh'][3]['dh_count'] / data['game_count']).toFixed(2)}%</td>`;
                    html+='</tr>'
                    html+='</tbody>'
            
                    $("#position_table").html(html);
                }
            })
        } else if (player == 'pitcher') {
            document.getElementById('position_page').style.display = 'none';
            document.getElementById('bullpen_page').style.display = 'block';

            $.ajax({
                url: '/bullpen_page',
                type: 'POST',
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json',
                beforeSend: function () {
                    document.getElementById('pageloader').style.display = 'block';
                },

                success: function (data) {
                    document.getElementById('pageloader').style.display = 'none';
                    var html='';
                    if(data['players'].length != 0) {

                        html+='<thead><tr">';
                        html+=`<th class="border border-black">Bullpen</th>`;
                        html+=`<th class="border border-black">REST</th>`;
                        html+=`<th class="border border-black">Game</th>`;
                        html+=`<th class="border border-black">HR</th>`;
                        html+=`<th class="border border-black">ERA</th>`;
                        html+=`<th class="border border-black">WHIP</th>`;
                        html+=`<th class="border border-black">BF</th>`;
                        html+=`</tr></thead><tbody  class='border border-black'>`;

                        for(var i=0; i<data['players'].length; i++) {
                            html+=`<tr class="border border-black">`;
                            html+=`<td class="border border-black bodyth" style="text-align: center;">${data['players'][i]['name']}</td>`;
                            html+=`<td class="border border-black">${data['players'][i]['rest']}</td>`;
                            html+=`<td class="border border-black">${data['players'][i]['game']}</td>`;
                            html+=`<td class="border border-black">${(data['players'][i]['career']['HR']).toFixed(2)}</td>`;
                            html+=`<td class="border border-black">${(data['players'][i]['career']['ERA']).toFixed(2)}</td>`;
                            html+=`<td class="border border-black">${(data['players'][i]['career']['WHIP']).toFixed(2)}</td>`;
                            html+=`<td class="border border-black">${(data['players'][i]['career']['BF']).toFixed(2)}</td>`;
                            html+='</tr>'

                            html+=`<tr class="border border-black">`;
                            html+=`<td class="border border-black bodyth" style="text-align: center;">Last 5</td>`;
                            html+=`<td class="border border-black"></td>`;
                            html+=`<td class="border border-black"></td>`;
                            html+=`<td class="border border-black">${(data['players'][i]['recent']['HR']).toFixed(2)}</td>`;
                            html+=`<td class="border border-black">${(data['players'][i]['recent']['ERA']).toFixed(2)}</td>`;
                            html+=`<td class="border border-black">${(data['players'][i]['recent']['WHIP']).toFixed(2)}</td>`;
                            html+=`<td class="border border-black">${(data['players'][i]['recent']['BF']).toFixed(2)}</td>`;
                            html+='</tr>'
                        }
                        html+='</tbody>'
                    }
                    $("#bullpen_page").html(html);
                }       
            })
        }
    } else {
        document.getElementById('team_page').style.display = 'block';
        document.getElementById('position_page').style.display = 'none';
        document.getElementById('bullpen_page').style.display = 'none';
        $.ajax({
        url: '/friend_page', 
                type: 'POST', 
                data: JSON.stringify(data),
                dataType: 'json',
                contentType: 'application/json',
                beforeSend: function (){ 
                    document.getElementById('pageloader').style.display = 'block';
                },

                success: function (data){ 

                    document.getElementById('pageloader').style.display = 'none';

                    var html='';

                    html+='<thead><tr">';
                    html+=`<th class="border border-black cursor-pointer" onclick="sortTable(this)">${data['name']}</th>`;

                    for (const [key, value] of Object.entries(data['game_date'])) {
                        html+=`<th class=${value['hander'] == 'R' ? "border border-black cursor-pointer bg-blue-400": "border border-black cursor-pointer bg-orange-400"} onclick="sortTable(this)">${value['game_date'].slice(5,)}`;
                        html+=`<hr>${value['pos']=='1'?`@<br>${value['oppoteam']} (${value['hander']})`:`vs<br>${value['oppoteam']} (${value['hander']})`}</th>`
                    }

                    html+=`</tr></thead><tbody  class='border border-black'><tr class="border border-black">`;

                    name = ''

                    $.each(data['game_table'],function(index,value){
                        if(player == 'batter'){
                            if(value['p_name'] != name)
                            {
                                if(name != '')
                                    html+='</tr><tr class="border border-black">'
                                html+=`<td class="border border-black bodyth">${value['p_name']}</td>`;
                                name = value['p_name'];
                            }

                            if(value['atbats'] == null || parseInt(value['pitcher'] ) == 1){
                                html+=`<td class="border border-black bg-rose-500"></td>`;
                            }
                            else if(parseInt(value['atbats']) == 0)
                            {
                                if(parseInt(value['substitution']) == 0)
                                    html+=`<td class="border border-black bg-orange-500"}>0 </td>`;
                                else if(parseInt(value['substitution']) == 1)
                                    html+=`<td class="border border-black bg-orange-300"}>0(sub)</td>`;
                            }
                            else if(parseInt(value['atbats']) == 1)
                            {
                                if(parseInt(value['substitution']) == 0)
                                    html+=`<td class="border border-black bg-yellow-300"}>1 </td>`;
                                else if(parseInt(value['substitution']) == 1)
                                    html+=`<td class="border border-black bg-yellow-200"}>1(sub)</td>`;
                            }
                            else
                            {
                                if(parseInt(value['substitution']) == 0)
                                    html+=`<td class="border border-black bg-green-500"}>${parseInt(value['atbats'])} </td>`;
                                else if(parseInt(value['substitution']) == 1)
                                    html+=`<td class="border border-black bg-green-300"}>${parseInt(value['atbats'])}(sub)</td>`;
                            }
                        }
                        else if(player == 'pitcher'){
                            if(value['p_name'] != name)
                            {
                                if(name != '')
                                    html+='</tr><tr class="border border-black">'
                                html+=`<td class="border border-black bodyth">${value['p_name']}</td>`;
                                name = value['p_name'];
                            }

                            if(value['pitchesthrown'] == null || parseInt(value['batter']) != 0){
                                html+=`<td class="border border-black bg-rose-500"></td>`;
                            }
                            else if(parseInt(value['pitchesthrown']) <= 10)
                            {
                                if(value['role'] == 'starter')
                                    html+=`<td class="border border-black bg-orange-500"}>${parseInt(value['pitchesthrown'])}</td>`;
                                else if(value['role'] == 'bullpen')
                                    html+=`<td class="border border-black bg-orange-300"}>${parseInt(value['pitchesthrown'])}(bul)</td>`;
                            }
                            else if(parseInt(value['pitchesthrown']) > 10 && parseInt(value['pitchesthrown']) <= 20)
                            {
                                if(value['role'] == 'starter')
                                    html+=`<td class="border border-black bg-yellow-300"}>${parseInt(value['pitchesthrown'])}</td>`;
                                else if(value['role'] == 'bullpen')
                                    html+=`<td class="border border-black bg-yellow-200"}>${parseInt(value['pitchesthrown'])}(bul)</td>`;
                            }
                            else
                            {
                                if(value['role'] == 'starter')
                                    html+=`<td class="border border-black bg-green-500"}>${parseInt(value['pitchesthrown'])} </td>`;
                                else if(value['role'] == 'bullpen')
                                    html+=`<td class="border border-black bg-green-300"}>${parseInt(value['pitchesthrown'])}(bul)</td>`;
                            }
                        } 
                            
                    });

                    html+='</tr>'
                    html+='</tbody>'
                    $("#team_page").html(html);
                }
            })
        }
    }

        function sortTable(ea) {

        n = $(ea).parent().children().index($(ea));
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("team_page");
        switching = true;
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                //check if the two rows should switch place:
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                    //if so, mark as a switch and break the loop:
                    shouldSwitch = true;
                    break;
                }
                }
                if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                }
            }
        }
    </script>
</head>
<body>
    <div id="pageloader" style="
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: none;
    ">
    <img style="width: 50px;margin: auto;position: relative;top: calc(50vh - 25px);" src="/static/loader.gif">
    </div>
    <div class="container-fluid">
        <div class="mt-5">
            <div>
                <h1 class="text-3xl ml-24">Friend-team</h1>
            </div>
            <div class="flex justify-end">
                <a href="/" class="mr-20 text-xl text-sky-500" onMouseOver="this.style.color='red'"
                onMouseOut="this.style.color='blue'">HOME</a>
            </div>
            <hr class="border-orange-300 mt-0.5">
            <div>
                <p class="text-xl mt-4 ml-10">Please select friend-team..</p>
            </div>
            <div class="mt-2 flex">
                <div class="w-3/12 flex justify-center text-xl space-x-7">
                    <label class="home_label" for="team_name" class="text-red-700">Team:</label>
                    
                    <select class="bg-cyan-100 border-black" style="border: solid 1px" name="team_name" id="team" onchange="changeData()">
                        <option value="blank"></option>
                        {% for team in data %}
                        <option value="{{team.abbreviation}}">{{team.tname}}</option>
                        {% endfor %}
                    </select>   
                </div>
                <div class="w-3/12 flex justify-center text-xl space-x-7">
                    <label class="home_label" for="player" class="text-red-700">Player:</label>

                    <select class="bg-cyan-100 border-black px-5" style="border: solid 1px" id="player" onchange="changeData()">
                        <option value="batter">Batters</option>
                        <option value="pitcher">Pitchers</option>
                    </select>
                    <div>
                        <input type="checkbox" id="position" name="position" value="position" onclick="changeData()">
                        <label for="position" style="color: blue;" id="positiontext">Positioning</label><br>
                    </div>   
                </div>
                <div class="w-3/12 flex justify-center text-xl space-x-7">
                    <label class="home_label" for="count" class="text-red-700">Count:</label>

                    <select class="bg-cyan-100 border-black px-5" style="border: solid 1px" id="count" onchange="changeData()">
                        <option>5</option>
                        <option>10</option>
                        <option>20</option>
                        <option>30</option>
                        <option>60</option>
                        <option>90</option>
                        <option>120</option>
                        <option>150</option>
                        <option>180</option>
                    </select>   
                </div>
                <div class="w-3/12 flex justify-center text-xl space-x-7">
                    <label class="home_label" for="season" class="text-red-700">Year:</label>

                    <input class="home_input" class="bg-cyan-100 border-black px-5"  style="border: solid 1px" type="number" id="season" min="1900" max="2099" step="1" value="2024" onchange="changeData()">
                    </input>   
                </div>
            </div>
            
            <div class="mt-10" role="region" aria-labelledby="caption" tabindex="0">
                <table class="border-collapse border border-black border-collapse text-center scroll-smooth scroll-auto" id="team_page">
                </table>
                <div id="position_page" style="display: none;">
                    <!-- <div style="font-size: 30px; margin: auto; text-align: center;"><span >Season:&nbsp&nbsp&nbsp</span><span id="total_game" style="color: blue;">30</span></div> -->
                    <div  style="font-size: 30px; margin: auto; text-align: center;"><span>Played :&nbsp&nbsp&nbsp</span><span id="game_count" style="color: red;">20</span></div>
                    <table class="border-collapse border border-black border-collapse text-center scroll-smooth scroll-auto" style="max-width: 1200px; margin: auto;  margin-top: 30px;" id="position_table">
                    </table>
                </div>
                <table class="border-collapse border border-black border-collapse text-center scroll-smooth scroll-auto" style="max-width: 1200px;  margin: auto; display: none;" id="bullpen_page">
                </table>
            </div>
        </div>
    </div>
</body>
</html>