<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BetMLB</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css"> 
        <link rel="icon" href="favicon.svg">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>"> 
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
        <script>
            let isStatsCalled = false;
            let statsDivState = false;

            function sleep(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            }

            function setDivState(state) {
                statsDivState = state;
            }

            function showDiv(id, type) {
                getPlayerStats(id, type);
            }
        
            async function hideDiv(state) {
                if(!state) {
                    await sleep(1000)
                    if(statsDivState)
                        return;
                }
                isStatsCalled = false;
                statsDivState = false;
                const divContent = document.getElementById('stats');
            }
          </script>
        <!-- Latest compiled and minified CSS -->
    </head>
    <body>
        <div class="nav">
            <div class="nav-header"><div class="nav-title" style="font-size: 50px;">BetMLB</div></div>
            </div>
            
            <div class="nav-links">
              <a href="/" style="font-size: 25px; padding: 10px;">Home</a>
              <a href="/teams" style="font-size: 25px; padding: 10px;">Teams</a>
              <a href="/database" style="font-size: 25px; padding: 10px;">Database</a>
              <a href="/showbetting" style="font-size: 25px; padding: 10px;">Accounting</a>
              <a href="/friend_page" style="font-size: 25px; padding: 10px;">Friend-teams</a>
              <a href="/selectPlayer" style="font-size: 25px; padding: 10px;">Predict</a>
              <a href="/showstats" style="font-size: 25px; padding: 10px;">Pre-Stats</a>
            </div>
          </div>
        <div class="container">


                <div class="update-block">
                    <button class="medium-solid-button" onclick="updateDatabase()">Update Database</button>
                    <p class="update-text" id="last-record">Last Record: {{last_record}}</p>
                    <p class="update-text" id="last-time">Last Updated on {{update_date}} at {{update_time}} EST</p>
                    <div id="update-loader" style="display: none;"><img style="width: 50px;" src="/static/loader.gif"/></div>
                </div>
            
                <div>
                    {% for el in average %}
                        <div class="average-container">
                            <div style="background-color:black">Season</div>
                            <div style="background-color:black">AVG</div>
                            <div style="background-color:black">OBP</div>
                            <div style="background-color:black">SLG</div>
                            <div style="background-color:black">OPS</div>
                            <div style="background-color:black">ERA</div>
                            <div style="background-color:black">WHIP</div>
                            <div>{{el.year}}</div>
                            <div>{{el.avg}}</div>
                            <div>{{el.obp}}</div>
                            <div>{{el.slg}}</div>
                            <div>{{el.ops}}</div>
                            <div>{{el.era}}</div>
                            <div>{{el.whip}}</div>
                        </div>
                    {% endfor %}
                </div>
            <!-- Card Grid -->
            <div class="card-grid">
                {% for game in schedule %}
                    <div class="div-container">
                        <div class="card" id ="{{game.game_id}}">
                            <div>
                                <div style="position: relative;">
                                    <span onmouseover="showDiv('{{game.game_id}}', 0)" class="card-title">{{game.away_name}} @ {{game.home_name}}</span>
                                    <button class="bet-add" onclick="openBetModal('{{game.game_id}}')">Add</button>
                                </div>
                                <p class="game-date">{{game.game_datetime}} EST</p>
                            </div>
                            <div class="form-wrapper">
                                <div class="form-left">
                                    <span>Win Prob</span>
                                    <hr>
                                    <div class="form-left-wrapper" onmouseover="showDiv('{{game.game_id}}', 1)">
                                        <table class = 'card-table'>
                                            <tr>
                                                <td class="model-title">Model la</td>
                                                {% if game.predict.la_away_prob != null %}
                                                    <td class="model-content">{{game.predict.la_away_prob}}%</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td class="model-title">Model lb</td>
                                                {% if game.predict.lb_away_prob != null %}
                                                    <td class="model-content">{{game.predict.lb_away_prob}}%</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td class="model-title">Model lc</td>
                                                {% if game.predict.lc_away_prob != null %}
                                                    <td class="model-content">{{game.predict.lc_away_prob}}%</td>
                                                {% endif %}
                                            </tr>
                                        </table>
                                    </div>
                                    <hr>
                                </div>
                                <div class="form-right">
                                    <span>Win Prob</span>
                                    <hr>
                                    <div class="form-right-wrapper" onmouseover="showDiv('{{game.game_id}}', 1)">
                                        <table class="card-table">
                                            <tr>
                                                <td class="model-title">Model la</td>
                                                {% if game.predict.la_home_prob != null %}
                                                <td class="model-content">{{game.predict.la_home_prob}}%</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td class="model-title">Model lb</td>
                                                {% if game.predict.lb_home_prob != null %}
                                                <td class="model-content">{{game.predict.lb_home_prob}}%</td>
                                                {% endif %}
                                            </tr>
                                            <tr>
                                                <td class="model-title">Model lc</td>
                                                {% if game.predict.lc_home_prob != null %}
                                                <td class="model-content">{{game.predict.lc_home_prob}}%</td>
                                                {% endif %}
                                            </tr>
                                        </table>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <div class="betting-title">
                                Kelly Prediction
                            </div>
                            <div class="kelly-wrapper">
                                <div class="kelly-col">
                                    <span>Team</span>
                                    <hr>
                                    <table class = 'kelly-table'>
                                        <tr>
                                            <td class="model-title" style="font-size: 16px;">{{game.away_name}}</td>
                                        </tr>
                                        <tr>
                                            <td class="model-title" style="font-size: 16px;">{{game.home_name}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="kelly-col">
                                    <span>modal A</span>
                                    <hr>
                                    <table class = 'kelly-table'>
                                        <tr>
                                            {% if game.predict.la_away_odd  != null and game.predict.la_away_odd  != None %}
                                                <td class="betting-content">{{game.predict.la_away_odd}}</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            {% if game.predict.la_home_odd  != null and game.predict.la_home_odd  != None %}
                                                <td class="betting-content">{{game.predict.la_home_odd}}</td>
                                            {% endif %}
                                        </tr>         
                                    </table>
                                </div>
                                <div class="kelly-col">
                                    <span>modal B</span>
                                    <hr>
                                    <table class = 'kelly-table'>
                                        <tr>
                                            {% if game.predict.lb_away_odd  != null and game.predict.lb_away_odd  != None %}
                                                <td class="betting-content">{{game.predict.lb_away_odd}}</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            {% if game.predict.lb_home_odd  != null and game.predict.lb_home_odd  != None %}
                                                <td class="betting-content">{{game.predict.lb_home_odd}}</td>
                                            {% endif %}
                                        </tr>            
                                    </table>
                                </div>
                                <div class="kelly-col">
                                    <span>modal C</span>
                                    <hr>
                                    <table class = 'kelly-table'>
                                        <tr>
                                            {% if game.predict.lc_away_odd  != null and game.predict.lc_away_odd  != None %}
                                                <td class="betting-content">{{game.predict.lc_away_odd}}</td>
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            {% if game.predict.lc_home_odd  != null and game.predict.lc_home_odd  != None %}
                                                <td class="betting-content">{{game.predict.lc_home_odd}}</td>
                                            {% endif %}
                                        </tr>            
                                    </table>
                                </div>            
                            </div>
                            <!-- <hr>
                            <div style="display: flex; padding-top: 10px;">
                                <div style="flex: 1;">
                                    <input type="radio" class = 'kelly_input', id="kelly_away">
                                    <label for="kelly_away" class="kelly_label">{{game.away_name}}</label><br>
                                    <input type="radio" class = 'kelly_input' id="kelly_home">
                                    <label for="kelly_home" class="kelly_label">{{game.home_name}}</label><br>
                                </div>
                                <div style="flex: 1;">
                                    <input type="radio" class = 'kelly_input', id="kelly_la">
                                    <label for="kelly_la" class="kelly_label">modal a</label><br>
                                    <input type="radio" class = 'kelly_input' id="kelly_lb">
                                    <label for="kelly_lb" class="kelly_label">modal b</label><br>
                                </div>
                                <div style="flex: 1;">
                                    <label for="kelly_odds">Odds</label>
                                    <input type="number" id="kelly_odds" name="kelly_odds" style="width: 100px;"><br><br>
                                </div>
                            </div>
                            <hr> -->
                            <div class="betting-title">
                                Betting State
                            </div>
                            <div class="betting-wrapper">
                                <div class="betting-col">
                                    <span>Site</span>
                                    <hr>
                                    <table class = 'betting-table'>
                                        <tr>
                                            <td class="model-title">ps3838.com</td>
                                        </tr>
                                        <tr>
                                            <td class="model-title">bet487.org</td>
                                        </tr>
                                        <tr>
                                            <td class="model-title">sports411.ag</td>
                                        </tr>
                                        <tr>
                                            <td class="model-title">shiba.ag</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="betting-col">
                                    <span>Place</span>
                                    <hr>
                                    <table class = 'betting-table'>
                                        <tr>
                                            {% for bett in game['betting'] %}
                                                {% if game.away_name == bett.place and bett.site == 'ps3838.com'%}
                                                    <td class="betting-content">{{game.away_name}}</td>
                                                {% elif game.home_name == bett.place and bett.site == 'ps3838.com'%}
                                                    <td class="betting-content">{{game.home_name}}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for bett in game['betting'] %}
                                                {% if game.away_name == bett.place and bett.site == 'bet487.org' %}
                                                    <td class="betting-content">{{game.away_name}}</td>
                                                {% elif game.home_name == bett.place and bett.site == 'bet487.org' %}
                                                    <td class="betting-content">{{game.home_name}}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for bett in game['betting'] %}
                                                {% if game.away_name == bett.place and bett.site == 'sports411.ag' %}
                                                    <td class="betting-content">{{game.away_name}}</td>
                                                {% elif game.home_name == bett.place and bett.site == 'sports411.ag' %}
                                                    <td class="betting-content">{{game.home_name}}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for bett in game['betting'] %}
                                                {% if game.away_name == bett.place and bett.site == 'shiba.ag' %}
                                                    <td class="betting-content">{{game.away_name}}</td>
                                                {% elif game.home_name == bett.place and bett.site == 'shiba.ag' %}
                                                    <td class="betting-content">{{game.home_name}}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>             
                                    </table>
                                </div>
                                <div class="betting-col">
                                    <span>Odds</span>
                                    <hr>
                                    <table class = 'betting-table'>
                                        <tr>
                                            {% for bett in game['betting'] %}
                                                {% if bett.site == 'ps3838.com'%}
                                                    <td class="betting-content">{{bett.odds}}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for bett in game['betting'] %}
                                                {% if bett.site == 'bet487.org'%}
                                                    <td class="betting-content">{{bett.odds}}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for bett in game['betting'] %}
                                                {% if bett.site == 'sports411.ag'%}
                                                    <td class="betting-content">{{bett.odds}}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for bett in game['betting'] %}
                                                {% if bett.site == 'shiba.ag'%}
                                                    <td class="betting-content">{{bett.odds}}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </div>
                                <div class="betting-col">
                                    <span>Stake</span>
                                    <hr>
                                    <table class = 'betting-table'>
                                        <tr>
                                            {% for bett in game['betting'] %}
                                                {% if bett.site == 'ps3838.com' %}
                                                    <td class="betting-content">{{bett.stake}}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for bett in game['betting'] %}
                                                {% if bett.site == 'bet487.org'%}
                                                    <td class="betting-content">{{bett.stake}}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for bett in game['betting'] %}
                                                {% if bett.site == 'sports411.ag'%}
                                                    <td class="betting-content">{{bett.stake}}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for bett in game['betting'] %}
                                                {% if bett.site == 'shiba.ag'%}
                                                    <td class="betting-content">{{bett.stake}}</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </div>
                                <div class="betting-col">
                                    <span>Status</span>
                                    <hr>
                                    <table class = 'betting-table'>
                                        <tr>
                                            {% for bett in game['betting'] %}
                                                {% if bett.site == 'ps3838.com' and bett.status == '2'%}
                                                    <td class="betting-content" style="color: crimson;">+{{bett.wins}}</td>
                                                {% elif bett.site == 'ps3838.com' and bett.status == '1'%}
                                                    <td class="betting-content" style="color: black;">-{{bett.stake}}</td>
                                                {% elif bett.site == 'ps3838.com' and bett.status == '0' %}
                                                    <td class="betting-content">Pending</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for bett in game['betting'] %}
                                                {% if bett.site == 'bet487.org' and bett.status == '2'%}
                                                    <td class="betting-content" style="color: crimson;">+{{bett.wins}}</td>
                                                {% elif bett.site == 'bet487.org' and bett.status == '1'%}
                                                    <td class="betting-content" style="color: black;">-{{bett.stake}}</td>
                                                {% elif bett.site == 'bet487.org' and bett.status == '0' %}
                                                    <td class="betting-content">Pending</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for bett in game['betting'] %}
                                                {% if bett.site == 'sports411.ag' and bett.status == '2'%}
                                                    <td class="betting-content" style="color: crimson;">+{{bett.wins}}</td>
                                                {% elif bett.site == 'sports411.ag' and bett.status == '1'%}
                                                    <td class="betting-content" style="color: black;">-{{bett.stake}}</td>
                                                {% elif bett.site == 'sports411.ag' and bett.status == '0' %}
                                                    <td class="betting-content">Pending</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                        <tr>
                                            {% for bett in game['betting'] %}
                                                {% if bett.site == 'shiba.ag' and bett.status == '2'%}
                                                    <td class="betting-content" style="color: crimson;">+{{bett.wins}}</td>
                                                {% elif bett.site == 'shiba.ag' and bett.status == '1'%}
                                                    <td class="betting-content" style="color: black;">-{{bett.stake}}</td>
                                                {% elif bett.site == 'shiba.ag' and bett.status == '0' %}
                                                    <td class="betting-content">Pending</td>
                                                {% endif %}
                                            {% endfor %}
                                        </tr>
                                    </table>
                                </div>
                                
                            </div>
                            <button class="small-solid-button" id="game_button_{{game.game_id}}" onclick="openCard(this.id)">Set Lineups</button>
                            <div class="hover-div"></div>
                        </div>
                        <div id = "stats_{{game.game_id}}">
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Large Card -->
            <div class="large-card" style = "display: none">
                <button class="close-button" onclick="closeCard()">Close</button>
                <div id="large-card-wrapper">
                    <span class="large-card-title" id="large-card-title"></span>
                    <span class="large-game-date" id="large-game-date"></span>

                    <div id ='form'>
                        <div class="form-wrapper">

                    
                            <div class="form-left">
                                <span class="card-title">Away</span>
                                <hr>
                                {% for i in range(1,10) %}
                                <div class="form-row">
                                    <label for="ab_{{i}}" class="home_label select-label">Batter #{{i}}</label>
                                    <select name="ab_{{i}}" style="width: 125px;" required>
                                        <option value="">—</option>
                                    </select>
                                </div>
                                {% endfor %}
                                <hr>
                                {% for j in range(1, 6) %}
                                <div class="form-row" style="margin: 20px 0 0 20px;">
                                    <label for="as_{{j}}" class="home_label select-label">Starter #{{j}}</label>
                                    <select name="as_{{j}}" required>
                                        <option value="">—</option>
                                    </select>
                                </div>
                                {% endfor %}

                            </div>

                            <div class="form-right">
                                <span class="card-title">Home</span>
                                <hr>
                                {% for i in range(1,10) %}
                                <div class="form-row">
                                    <label for="hb_{{i}}" class="home_label select-label">Batter #{{i}}</label>
                                    <select name="hb_{{i}}" style="width: 125px" required>
                                        <option value="">—</option>
                                    </select>
                                </div>
                                {% endfor %}
                                <hr>
                                {% for j in range(1, 6) %}
                                <div class="form-row" style="margin: 20px 0 0 20px;">
                                    <label for="hs_{{j}}" class="home_label select-label">Starter #{{j}}</label>
                                    <select name="hs_{{j}}" required>
                                        <option value="">—</option>
                                    </select>
                                </div>
                                {% endfor %}

                            </div>
                            
                            
                        </div>
                        <div style="display: flex;">
                            <button style="margin: 50px auto" class="submit-button" onclick="makePrediction('a')">Model a</button>
                            <button style="margin: 50px auto" class="submit-button" onclick="makePrediction('c')">Midel c</button>
                        </div>
                    </div>

                    <form id = 'calc' onsubmit="return false;">
                        <div id="stake_size" class="stake-size"></div>
                        <div class="form-wrapper">
                            <div class="form-left">
                                <span class="card-title">Away</span>
                                <hr>

                                <div class="form-left-wrapper">
                                    <table>
                                        <tr>
                                            <td>Win Prob</td>
                                            <td><div class="input-box" name="away_prob" style="border: none"></div></td>
                                            <td><div class="input-box" name="away_prob_1" style="border: none; display: none"></div></td>           
                                            <td><div class="input-box" name="away_prob_2" style="border: none; display: none"></div></td>
                                            <td><div class="input-box" name="away_prob_3" style="border: none; display: none"></div></td>
                                        </tr>

                                        <tr></tr>
                                        <tr>
                                            <td>Model</td>
                                            <td>
                                                <div>
                                                <input onchange="getAwayBet()" class="home_input" type="radio" id="away_model_1a" name="away_model_type" value="away_model_1a" checked>
                                                <label class ="home_label"  for="away_model_1a">Model 1a</label>
                                                </div>
                                                <div>
                                                <input onchange="getAwayBet()" class="home_input" type="radio" id="away_model_1b" name="away_model_type" value="away_model_1b">
                                                <label class ="home_label" for="away_model_1b">Model 1b</label>
                                                </div>
                                                <div>
                                                <input onchange="getAwayBet()" class="home_input" type="radio" id="away_model_1c" name="away_model_type" value="away_model_1c">
                                                <label class ="home_label" for="away_model_1c">Model 1c</label>
                                                </div>
                                            </td>
                                            </tr>
                                            <tr></tr>

                        
                                        <tr>
                                            <td>Adj.</td>
                                            <td><input type="text" class="input-box" name="away_adjustment" onchange="changeAwayAdjustment()" value="0"></td>
                                        </tr>
                                        <tr></tr>

                                        <tr>
                                            <td>target</td>
                                            <td><input type="text" class="input-box" name="away_odds" placeholder="+150"></td>
                                        </tr>
                                        <tr></tr>

                                        <tr>
                                            <td>Min Edge</td>
                                            <td><input type="text" class="input-box" name="away_min_edge" value="3%" onchange="getAwayBet()"></td>
                                        </tr>
                                        <tr></tr>

                                        <tr>
                                            <td>Min Prob</td>
                                            <td><input type="text" class="input-box" name="away_min_prob" value="48%" onchange="getAwayBet()"></td>
                                        </tr>
                                        <tr></tr>

                                    

                                        <tr>
                                            <td>Edge</td>
                                            <td><div type="text" class="input-box" name="away_edge" style="border: none">—</div></td>
                                        </tr>

                                    </table>
    
                            </div>

                    
                            </div>

                            <div class="form-right">
                                <span class="card-title">Home</span>
                                <hr>
                                
                                <div class="form-right-wrapper">

                                    <table>

                                        <tr>
                                            <td>Win Prob</td>
                                            <td><div class="input-box" name="home_prob" style="border: none"></div></td>
                                            <td><div class="input-box" name="home_prob_1" style="border: none; display: none"></div></td>           
                                            <td><div class="input-box" name="home_prob_2" style="border: none; display: none"></div></td>
                                            <td><div class="input-box" name="home_prob_3" style="border: none; display: none"></div></td>
                                        </tr>

                                        <tr></tr>
                                        <tr>
                                            <td>Model</td>
                                            <td>
                                                <div>
                                                <input onchange="getHomeBet()" class="home_input" type="radio" id="home_model_1a" name="home_model_type" value="home_model_1a" checked>
                                                <label for="home_model_1a" class="home_label">Model 1a</label>
                                                </div>
                                                <div>
                                                <input onchange="getHomeBet()" class="home_input" type="radio" id="home_model_1b" name="home_model_type" value="home_model_1b">
                                                <label for="home_model_1b" class="home_label">Model 1b</label>
                                                </div>
                                                <div>
                                                <input onchange="getHomeBet()" class="home_input" type="radio" id="home_model_1c" name="home_model_type" value="home_model_1c">
                                                <label for="home_model_1c" class="home_label">Model 1c</label>
                                                </div>
                                            </td>
                                            </tr>
                                            <tr></tr>
                                        
                                        <tr>
                                            <td>Adj.</td>
                                            <td><input type="text" class="input-box" name="home_adjustment" value="0" onchange="changeHomeAdjustment()"></td>
                                        </tr>
                                        <tr></tr>
                                        

                                        <tr>
                                            <td>target</td>
                                            <td><input type="text" class="input-box" name="home_odds" placeholder="+150"></td>
                                        </tr>
                                        <tr></tr>

                                        <tr>
                                            <td>Min Edge</td>
                                            <td><input type="text" class="input-box" name="home_min_edge" value="3%" onchange="getHomeBet()"></td>
                                        </tr>
                                        <tr></tr>

                                        <tr>
                                            <td>Min Prob</td>
                                            <td><input type="text" class="input-box" name="home_min_prob" value="48%" onchange="getHomeBet()"></td>
                                        </tr>
                                        <tr></tr>

                                        <tr>
                                            <td>Edge</td>
                                            <td><div type="text" class="input-box" name="home_edge" style="border: none">—</div></td>
                                        </tr>

                                    </table>

                            </div>

                        
                            </div>
                        </div>
                    </form>
                    <div id = 'betform' style="border: 1px solid gray; padding: 10px 5px;">
                        <div class="bet-form-row">
                            <div class="bet-form-row-left"><span>BetDate:</span></div>
                            <div class="bet-form-row-right"><span id="betdate" style="color: blue;"></span></div>
                        </div>
                        <div class="bet-form-row">
                            <div class="bet-form-row-left">away:</div>
                            <div class="bet-form-row-right">
                                <input type="text" placeholder="Texas Rangers" class="bet-input-form" id = 'awayname'>
                            </div>
                        </div>
                        <div class="bet-form-row">
                            <div class="bet-form-row-left">home:</div>
                            <div class="bet-form-row-right">
                                <input type="text" placeholder="Arizona Diamondbacks" class="bet-input-form" id = 'homename'>
                            </div>
                        </div>
                        <div class="bet-form-row">
                            <div class="bet-form-row-left">Place:</div>
                            <div class="bet-form-row-right">
                                <select id="teams" name="teams" class="bet-input-form" style="height: auto;">
                                  </select>
                            </div>
                        </div>
                        <div class="bet-form-row">
                            <div class="bet-form-row-left">Odds:</div>
                            <div class="bet-form-row-right">
                                <input type="text" placeholder="+137" class="bet-input-form" id = 'oddvalue' oninput="calWinsWithOdds(this.value)"> 
                            </div>
                        </div>
                        <div class="bet-form-row">
                            <div class="bet-form-row-left">Stake:</div>
                            <div class="bet-form-row-right">
                                <input type="number" placeholder="4671.53" class="bet-input-form" id = 'stakevalue' oninput="calWinsWithStake(this.value)"> 
                            </div>
                        </div>
                        <div class="bet-form-row">
                            <div class="bet-form-row-left">Wins:</div>
                            <div class="bet-form-row-right">
                                <input type="number" placeholder="6400" class="bet-input-form" id = 'winvalue'> 
                            </div>
                        </div>
                        <div class="bet-form-row">
                            <div class="bet-form-row-left">Site:</div>
                            <div class="bet-form-row-right" style="padding: 0px 10px;">
                                <select id="sites" name="sites" class="bet-input-form" style="height: auto;">
                                  </select>
                            </div>
                        </div>
                        <div class="bet-form-row">
                            <div class="bet-button-row">
                                <button class="bet-add-button" onclick="updateBetInformation(0)">Add</button>
                                <button class="bet-add-button" onclick="updateBetInformation(1)">Update</button>
                            </div>
                        </div>
                    </div>                
                </div>        
                <div id="loader"><img style="width: 50px; margin-top: 220px;" src="/static/loader.gif"/></div>
            </div>


                
        </div>
    </body>
</html>
