<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BetMLB</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css"> 
        <link rel="stylesheet" href="/static/nav.css"> 
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>"> 
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js"
        integrity="sha512-vFABRuf5oGUaztndx4KoAEUVQnOvAIFs59y4tO0DILGWhQiFnFHiR+ZJfxLDyJlXgeut9Z07Svuvm+1Jv89w5g=="  crossorigin="anonymous" referrerpolicy="no-referrer"> </script>
        <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.canvasjs.com/canvasjs.stock.min.js"></script>
        <style>
            th, td {
                padding-left: 30px;
                padding-right: 30px;
            }

            p:hover{
                color: rgb(0, 4, 255);
                font-size: 20x;
            }
        </style>
        <script>
            window.onload = function () {

            var today = new Date();
            var year = today.getFullYear();
            var averagepoit_50 = [];
            var averagepoit_100 = [];
            var averagepoit_200 = [];

            $.ajax({
                url: '/get_betting_info', 
                type: 'POST', 
                data: {'year':year.toString()},
                beforeSend: function (){ 
                },

                success: function (data){ 

                    console.log(data)

                    var dataPoints = [];

                    let USDollar = new Intl.NumberFormat('en-US', {
                        style: 'currency',
                        currency: 'USD',
                    });

                    var averagepoit_50 = [];
                    var averagepoit_100 = [];
                    var averagepoit_200 = [];

                    var pl_vlaue = {}
                    var value = 0;
                    var update = 0;

                    var stockChartSeason = new CanvasJS.StockChart("chartContainerSeasson",{
                        theme: "light2",
                        width: 1600,
                        height: 800,
                        charts: [{
                        title: {
                            fontColor:'black',
                            margin: 10,
                            text: `P/L analysis-${year}`   
                        },
                        toolTip:{          
                            shared: true,   
                            content: function(e) {
                                // Extracting data point
                                var dataPoint = e.entries[0].dataPoint;
                                
                                // Calculating movement
                                var movement = dataPoint.y[3] - dataPoint.y[0];

                                let d = new Date(dataPoint.x),
                                month = '' + (d.getMonth() + 1), // Months are zero based
                                day = '' + d.getDate(),
                                year = d.getFullYear();

                                // Add leading zero to month and day if needed
                                if (month.length < 2) 
                                    month = '0' + month;
                                if (day.length < 2) 
                                    day = '0' + day;
                                var daystring = [year, month, day].join('-');
                                
                                // Formatting content
                                var content = `<div style='padding:3px'><div style='color: red; font-size:16px; font-weight:bold; text-align: center;'>${daystring}</div><div style='display:flex; width:100%; padding-top: 3px'><div style='width:50%; text-align: right; padding-right:5px'>Open Price:</div><div style='width:50%; text-align: left; padding-left:5px'> ${USDollar.format(dataPoint.y[0].toFixed(2))}</div></div>
                                <div style='display:flex; width:100%; padding-top: 3px'><div style='width:50%; text-align: right; padding-right:5px'>Close Price:</div><div style='width:50%; text-align: left; padding-left:5px'> ${USDollar.format(dataPoint.y[3].toFixed(2))}</div></div>
                                <div style='display:flex; width:100%; padding-top: 3px'><div style='width:50%; text-align: right; padding-right:5px'>Movement: </div><div style="width:50%; text-align: left; padding-left:5px; ${movement>0? 'color:green':'color:red'}"> ${USDollar.format(movement.toFixed(2))}</div></div>`;

                                var str = "";
                                for (var i = 1; i < e.entries.length; i++){
                                    var  temp = `<div style='display:flex; width:100%; padding-top: 3px'><div style='width:50%; text-align: right; padding-right:5px'>${e.entries[i].dataSeries.name}:</div><div style="width:50%; text-align: left; padding-left:5px;Yes">${USDollar.format(e.entries[i].dataPoint.y.toFixed(2))}</div></div>` ; 
                                    str = str.concat(temp);
                                }

                                str = str + '</div>'

                                content = content.concat(str);
                                
                                return content;
                            }
                        },
                        axisY: {
                            prefix: "$"
                        },
                        axisX: {
                            crosshair: {
                            enabled: true
                            }
                        },
                        data: [
                            {
                            type: "candlestick",
                            risingColor: "green",
                            fallingColor: "red",
                            yValueFormatString: "$#,###.##",
                            dataPoints : dataPoints
                            },
                            {        
                                type: "spline",
                                name: "avg-50",
                                markerType: "none",
                                color: "blue",
                                dataPoints: averagepoit_50
                            },

                            {        
                                type: "spline",
                                name: "avg-100",
                                markerType: "none",
                                color: "yellow",
                                dataPoints: averagepoit_100
                            },

                            {        
                                type: "spline",
                                name: "avg-200",
                                markerType: "none",
                                color: "purple",
                                dataPoints: averagepoit_200
                            },
                            ]
                        }],
                    });

                    for(var i = 0; i < data['season'].length; i++)
                    {
                        var date = new Date(data['season'][i]['betdate'])
                        var average = 0;

                        var seasonyear = data['season'][i].betdate.substring(0, 4);

                        update = value + data['season'][i]['wins'] - data['season'][i]['losses']
                        pl_vlaue[i] = update
                        dataPoints.push({x: date,  y: [Number(value), Number(value > update? value: update), Number(value > update? update: value), Number(update)]})
                        value = update

                        if (i>=50) {
                            for (var k=i-50 + 1; k <= i; k++) {
                                average = average + pl_vlaue[k];
                            }
                            average = average / 50;

                            var average_price =  USDollar.format(average);
                            averagepoit_50.push({x: date, y: average})
                            
                        }

                        average = 0

                        if (i>=100) {
                            for (var k=i-100 + 1; k <= i; k++) {
                                average = average + pl_vlaue[k];
                            }
                            average = average / 100;

                            var average_price =  USDollar.format(average);
                            averagepoit_100.push({x: date, y: average})
                            
                        }

                        average = 0

                        if (i>=200) {
                            for (var k=i-200 + 1; k <= i; k++) {
                                average = average + pl_vlaue[k];
                            }
                            average = average / 200;

                            var average_price =  USDollar.format(average);
                            averagepoit_200.push({x: date, y: average})
                            
                        }
                    }
                    stockChartSeason.render();

                    averagepoit_50 = [];
                    averagepoit_100 = [];
                    averagepoit_200 = [];
                    dataPoints = [];

                    pl_vlaue = {}
                    value = 0;
                    update = 0;

                    var stockChartTotal = new CanvasJS.StockChart("chartContainerTotal",{
                        theme: "light2",
                        width: 1600,
                        height: 800,
                        charts: [{
                        title: {
                            fontColor:'black',
                            margin: 10,
                            text: `P/L analysis-Total`   
                        },
                        toolTip:{          
                            shared: true,   
                            content: function(e) {
                                // Extracting data point
                                var dataPoint = e.entries[0].dataPoint;
                                
                                // Calculating movement
                                var movement = dataPoint.y[3] - dataPoint.y[0];

                                let d = new Date(dataPoint.x),
                                month = '' + (d.getMonth() + 1), // Months are zero based
                                day = '' + d.getDate(),
                                year = d.getFullYear();

                                // Add leading zero to month and day if needed
                                if (month.length < 2) 
                                    month = '0' + month;
                                if (day.length < 2) 
                                    day = '0' + day;
                                var daystring = [year, month, day].join('-');
                                
                                // Formatting content
                                var content = `<div style='padding:3px'><div style='color: red; font-size:16px; font-weight:bold; text-align: center;'>${daystring}</div><div style='display:flex; width:100%; padding-top: 3px'><div style='width:50%; text-align: right; padding-right:5px'>Open Price:</div><div style='width:50%; text-align: left; padding-left:5px'> ${USDollar.format(dataPoint.y[0].toFixed(2))}</div></div>
                                <div style='display:flex; width:100%; padding-top: 3px'><div style='width:50%; text-align: right; padding-right:5px'>Close Price:</div><div style='width:50%; text-align: left; padding-left:5px'> ${USDollar.format(dataPoint.y[3].toFixed(2))}</div></div>
                                <div style='display:flex; width:100%; padding-top: 3px'><div style='width:50%; text-align: right; padding-right:5px'>Movement: </div><div style="width:50%; text-align: left; padding-left:5px; ${movement>0? 'color:green':'color:red'}"> ${USDollar.format(movement.toFixed(2))}</div></div>`;

                                var str = "";
                                for (var i = 1; i < e.entries.length; i++){
                                    var  temp = `<div style='display:flex; width:100%; padding-top: 3px'><div style='width:50%; text-align: right; padding-right:5px'>${e.entries[i].dataSeries.name}:</div><div style="width:50%; text-align: left; padding-left:5px;Yes">${USDollar.format(e.entries[i].dataPoint.y.toFixed(2))}</div></div>` ; 
                                    str = str.concat(temp);
                                }

                                str = str + '</div>'

                                content = content.concat(str);
                                
                                return content;
                            }
                        },
                        axisY: {
                            prefix: "$"
                        },
                        axisX: {
                            crosshair: {
                            enabled: true
                            },
                            scaleBreaks: {
                                type: 'straight',
                                spacing: "0",
                                fillOpacity: 1,
                                autoCalculate: true
                            }
                        },
                        data: [
                            {
                            type: "candlestick",
                            risingColor: "green",
                            fallingColor: "red",
                            yValueFormatString: "$#,###.##",
                            dataPoints : dataPoints
                            },
                            {        
                                type: "spline",
                                name: "avg-50",
                                markerType: "none",
                                color: "blue",
                                dataPoints: averagepoit_50
                            },

                            {        
                                type: "spline",
                                name: "avg-100",
                                markerType: "none",
                                color: "yellow",
                                dataPoints: averagepoit_100
                            },

                            {        
                                type: "spline",
                                name: "avg-200",
                                markerType: "none",
                                color: "purple",
                                dataPoints: averagepoit_200
                            },
                            ]
                        }],
                    });
                    
                    
                    for(var i = 0; i < data['total'].length; i++)
                    {
                        var date = new Date(data['total'][i]['betdate'])
                        var average = 0;

                        update = value + data['total'][i]['wins'] * 14 - data['total'][i]['losses'] * 14
                        pl_vlaue[i] = update
                        dataPoints.push({x: date,  y: [Number(value), Number(value > update? value: update), Number(value > update? update: value), Number(update)]})
                        value = update

                        if (i>=50) {
                            for (var k=i-50 + 1; k <= i; k++) {
                                average = average + pl_vlaue[k];
                            }
                            average = average / 50;

                            var average_price =  USDollar.format(average);
                            averagepoit_50.push({x: date, y: average})
                            
                        }

                        average = 0

                        if (i>=100) {
                            for (var k=i-100 + 1; k <= i; k++) {
                                average = average + pl_vlaue[k];
                            }
                            average = average / 100;

                            var average_price =  USDollar.format(average);
                            averagepoit_100.push({x: date, y: average})
                            
                        }

                        average = 0

                        if (i>=200) {
                            for (var k=i-200 + 1; k <= i; k++) {
                                average = average + pl_vlaue[k];
                            }
                            average = average / 200;

                            var average_price =  USDollar.format(average);
                            averagepoit_200.push({x: date, y: average})
                            
                        }
                    }
                    stockChartTotal.render();
                 }               
            });      
            }
            </script>
    </head>
    <body>
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header"><div class="nav-title">Season Stats</div></div>
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
            
            <div class="nav-links" style="display: flex;">
                <div style="display: flex; flex-direction: column-reverse;  margin-right: 50px;">
                    <a href="/showbetting">Accounting</a>
                </div>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle dropbtn" type="button" data-toggle="dropdown">
                        <img src="/static/1.png" style="width: 40px; height: 40px;" alt="dropdown image" class="img-responsive">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropend" style="left: -95px; width: 100px;">
                        <!-- <li style="display: block; padding-top: 16px; padding-bottom: 16px;"><a href="#"><p>Reset Pssword</p></a></li> -->
                        <li style="display: block; padding-top: 16px; padding-bottom: 16px;"><a  href="{{url_for('logout')}}"><p>Log Out</p></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div style="margin-top: 100px; margin-bottom: 50px;">
            <table class="table" style="margin: 0 auto; text-align: center; width: auto; border: none;">
                <thead style="font-size: 30px;color: black; font-weight: bold; height: 80px;">
                    <tr>
                        <td>Total Stake</td>
                        <td style="padding-left: 40px; padding-right: 40px;">P/L</td>
                        <td>Yield</td>
                    </tr>
                </thead>
                <tbody style="font-size: 30px; height: 60px;">
                    <tr>
                        <td style="color: rgba(0, 38, 255, 0.784);">{{data['season']['stake']}}</td>
                        {% if data['season'].color == "green" %}
                            <td style="color: green;">{{data['season']['pl']}}</td>
                        {% endif %}
                        {% if data['season'].color == "red" %}
                            <td style="color: red;">{{data['season']['pl']}}</td>
                        {% endif %}
                        <td style="color: rgb(0, 0, 0);">{{data['season']['yield']}}%</td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align: center; padding-top: 30px; font-size: 16px; font-weight: bold;">
                <div>50 days average (blue)</div>
                <div>100 days average (yellow)</div>
                <div>200 days average (purple)</div>
            </div>
        </div>

        <div style="display: flex; justify-content: center; align-items: center;">
            <div id="chartContainerSeasson" style="height: 810px; width: 1610px;border: solid 2px; border-color: aqua;"></div>
        </div>
        <div style="margin-top: 100px; margin-bottom: 50px;">
            <table class="table" style="margin: 0 auto; text-align: center; width: auto; border: none;">
                <thead style="font-size: 30px;color: black; font-weight: bold; height: 80px;">
                    <tr>
                        <td>Total Stake</td>
                        <td style="padding-left: 40px; padding-right: 40px;">P/L</td>
                        <td>Yield</td>
                    </tr>
                </thead>
                <tbody style="font-size: 30px; height: 60px;">
                    <tr>
                        <td style="color: rgba(0, 38, 255, 0.784);">{{data['total']['stake']}}</td>
                        {% if data['total'].color == "green" %}
                            <td style="color: green;">{{data['total']['pl']}}</td>
                        {% endif %}
                        {% if data['total'].color == "red" %}
                            <td style="color: red;">{{data['total']['pl']}}</td>
                        {% endif %}
                        <td style="color: rgb(0, 0, 0);">{{data['total']['yield']}}%</td>
                    </tr>
                </tbody>
            </table>
            <div style="text-align: center; padding-top: 30px; font-size: 16px; font-weight: bold;">
                <div>50 days average (blue)</div>
                <div>100 days average (yellow)</div>
                <div>200 days average (purple)</div>
            </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center; padding-top: 50px; padding-bottom: 50px;">
            <div id="chartContainerTotal" style="height: 810px; width: 1610px;border: solid 2px; border-color: aqua;"></div>
        </div>
    </body>
</html>
