<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BetMLB</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css"> 
        <link rel="stylesheet" href="/static/nav.css"> 
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>"> 
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment-with-locales.min.js"
        integrity="sha512-vFABRuf5oGUaztndx4KoAEUVQnOvAIFs59y4tO0DILGWhQiFnFHiR+ZJfxLDyJlXgeut9Z07Svuvm+1Jv89w5g=="  crossorigin="anonymous" referrerpolicy="no-referrer"> </script>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <style>
            th, td {
                padding-left: 30px;
                padding-right: 30px;
            }

            p:hover{
                color: rgb(0, 4, 255);
                font-size: 20x;
            }
        </style>
        <script>
            window.onload = function () {

            var today = new Date();
            var year = today.getFullYear();
            var datapoits = [];

            $.ajax({
                url: '/get_betting_info', 
                type: 'POST', 
                data: {'year':year.toString()},
                beforeSend: function (){ 
                },

                success: function (data){ 

                    let USDollar = new Intl.NumberFormat('en-US', {
                        style: 'currency',
                        currency: 'USD',
                    });
                    for(var i = 0; i < data.length; i++)
                    {
                        var date = new Date(data[i]['betdate'])
                        var stats = 0;

                        for(var j = 0; j <= i; j++)
                        {
                            stats = stats + data[j]['wins'] - data[j]['losses']
                        }
                        var price =  USDollar.format(stats);
                        datapoits.push({x: date, y: stats, indexLabel: price})
                    }
            
                    var chart = new CanvasJS.Chart("chartContainer", {
                        theme: "light2",
                        animationEnabled: true,
                        title:{
                            fontColor:'black',
                            margin: 10,
                            text: `P/L analysis-${year}`   
                        },
                        axisX: {
                            labelWrap: true,
                            labelAngle: -90,
                            labelFontColor: 'black',
                            titleFontWeight: 'bold',
                            titleFontColor: 'red'
                        },
                        axisY:{
                            title: "P/L Price (in USD)",
                            includeZero: true,
                            valueFormatString: "$##,###.#",
                            labelFontColor: 'black',
                            titleFontWeight: 'bold',
                            titleFontColor: 'red'
                        },
                        data: [{        
                            type: "line",
                            markerSize: 10,
                            xValueFormatString: "YYYY/MM/DD",
                            yValueFormatString: "$##,###.#",
                            indexLabelWrap: false,
                            indexLabelFontColor: 'blue',
                            dataPoints: datapoits
                        }]
                    });
                    chart.render();
                 }               
            });      
            }
            </script>
    </head>
    <body>
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header"><div class="nav-title">Season Stats</div></div>
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
            
            <div class="nav-links" style="display: flex;">
                <div style="display: flex; flex-direction: column-reverse;  margin-right: 50px;">
                    <a href="/showbetting">Accounting</a>
                </div>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle dropbtn" type="button" data-toggle="dropdown">
                        <img src="/static/1.png" style="width: 40px; height: 40px;" alt="dropdown image" class="img-responsive">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropend" style="left: -95px; width: 100px;">
                        <!-- <li style="display: block; padding-top: 16px; padding-bottom: 16px;"><a href="#"><p>Reset Pssword</p></a></li> -->
                        <li style="display: block; padding-top: 16px; padding-bottom: 16px;"><a  href="{{url_for('logout')}}"><p>Log Out</p></a></li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div style="margin: 100px auto">
            <table class="table" style="margin: 0 auto; text-align: center; width: auto; border: none;">
                <thead style="font-size: 30px;color: black; font-weight: bold; height: 80px;">
                    <tr>
                        <td>Total Stake</td>
                        <td style="padding-left: 40px; padding-right: 40px;">P/L</td>
                        <td>Yield</td>
                    </tr>
                </thead>
                <tbody style="font-size: 30px; height: 60px;">
                    <tr>
                        <td style="color: rgba(0, 38, 255, 0.784);">{{data['stake']}}</td>
                        {% if data.color == "green" %}
                            <td style="color: green;">{{data['pl']}}</td>
                        {% endif %}
                        {% if data.color == "red" %}
                            <td style="color: red;">{{data['pl']}}</td>
                        {% endif %}
                        <td style="color: rgb(0, 0, 0);">{{data['yield']}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="border: solid 2px; border-color: aqua; margin-left: 5px; margin-right: 5px; padding: 20px; padding-top: 30px;">
            <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        </div>
    </body>
</html>
