<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BetMLB</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
    <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
    <div class="nav-header"><div class="nav-title" style="font-size: 40px; padding-top: 30px; color: black; margin-left: auto; margin-left: auto;">Select Player</div></div>
    <!-- <div>
        {% for game in schedule %}
        <h1>{{game.away_name}} @ {{game.home_name}}</h1>
        <h2>{{game.game_id}}</h2>
        {% endfor %}
    </div> -->
</body>
</html>