<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BetMLB</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css"> 
        <link rel="stylesheet" href="/static/nav.css"> 
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚀</text></svg>"> 
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
        <!-- Latest compiled and minified CSS -->
        <script type="text/javascript">
            function setupTabs (){
                document.querySelectorAll('.tab-btn').forEach(button=>{
                    button.addEventListener('click',()=>{
                    
                    
                    const sidebar = button.parentElement;
                    const tabs = sidebar.parentElement;
                    const tabNumber = button.dataset.forTab;
                    const tabActivate = tabs.querySelector(`.tab-content[data-tab="${tabNumber}"]`)
                    
                    sidebar.querySelectorAll('.tab-btn').forEach(button=>{
                        button.classList.remove('tab-btn-active')
                    })
                    tabs.querySelectorAll('.tab-content').forEach(tab=>{
                        tab.classList.remove('tab-content-active')
                    })
                    button.classList.add('tab-btn-active')
                    tabActivate.classList.add('tab-content-active')
                    })
                })
                }

                document.addEventListener('DOMContentLoaded',()=>{
                setupTabs();
            });

            document.addEventListener('DOMContentLoaded', function() {
                var select = document.getElementById('teams');
                
                select.addEventListener('change', function() {
                var abbreviation = select.value;
                var tname = select.options[select.selectedIndex].text;

                getData(abbreviation, tname);
                });
            });

            function getData(abbreviation, name) {
                data = {}
                data['name'] = name
                data['abbreviation'] = abbreviation

                $.ajax({
                    url: '/teams', 
                    type: 'POST', 
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json',

                    beforeSend: function(){ 
                        $('#loader').show();
                        $('#tab-content').hide();
                    },

                    success: function (data) {
                        $('#loader').hide();
                        $('#tab-content').show();

                        var html='';
                        html += '<div class="win-text">WIN count:</div>';
                        html += `<div>${data['win_loss']['win']}</div>`;

                        $("#win-count").html(html);
                        html = '<div class="loss-text">LOSS count:</div>';
                        html += `<div>${data['win_loss']['loss']}</div>`;
                        $("#loss-count").html(html);

                        html='';
                        html += '<div class="risk-text">Total risk:</div>';
                        html += `<div>${data['pl_win_loss']['total']}</div>`;
                        $("#total-risk").html(html);

                        html = '<div class="risk-text">P/L:</div>';
                        html += `<div>${data['pl_win_loss']['pl']}</div>`;
                        $("#pl-risk").html(html);

                        html = '<div class="risk-text">Yield:</div>';
                        html += `<div>${data['pl_win_loss']['yield']}%</div>`;
                        $("#yield-risk").html(html);

                        html='';
                        html += '<div class="risk-text">Total risk:</div>';
                        html += `<div>${data['bet_on']['total']}</div>`;
                        $("#beton-total").html(html);

                        html = '<div class="risk-text">P/L:</div>';
                        html += `<div>${data['bet_on']['pl']}</div>`;
                        $("#beton-pl").html(html);

                        html = '<div class="risk-text">Yield:</div>';
                        html += `<div>${data['bet_on']['yield']}%</div>`;
                        $("#beton-yield").html(html);
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX request failed:", error);
                    }
                })
            }
        </script>
    </head>
    <body onload="getData('{{data[0].abbreviation}}', '{{data[0].tname}}')">
        <div class="nav">
            <input type="checkbox" id="nav-check">
            <div class="nav-header"><div class="nav-title">BetMLB</div></div>
            <div class="nav-btn">
              <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
              </label>
            </div>
            
            <div class="nav-links">
              <a href="/">Home</a>
              <a href="/database">Database</a>
              <a href="/showbetting">Accounting</a>
              <a href="#" onclick="updateTeam()" >UpdateTeam</a>
            </div>
            <div id="update-loader" style="display: none;"><img style="width: 50px;" src="/static/loader.gif"/></div>
        </div>
        <div style="margin-left: 50px; margin-top: 100px; display: flex; justify-content: space-between; align-items: center;">
            <div style="display: flex; align-items: center;">
                <label for="teams" style="font-size: 25px;">Select team:</label>
                <select name="teams" id="teams" style="font-size: 20px; height: auto; width: auto; text-align: center; color: white; background-color: rgb(49, 47, 47); padding: 5px; margin-left: 20px;">
                    {% for team in data %}
                        <option value="{{team.abbreviation}}">{{team.tname}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="container">
            <div class="team-tabs">
                <div class="sidebar">
                   <button class="tab-btn tab-btn-active" data-for-tab="1">Win Loss</button>
                   <button class="tab-btn" data-for-tab="2">P/L Win Loss</button>
                   <button class="tab-btn" data-for-tab="3">Bet On</button>
                   <button class="tab-btn" data-for-tab="4">Bet Against</button>
                   <button class="tab-btn" data-for-tab="5">Performance-Price</button>
                   <button class="tab-btn" data-for-tab="6">Price Movements Team</button>
                   <button class="tab-btn" data-for-tab="7">Price Movements Starting Pitcher</button>
                 </div>
                <div id="loader"><img style="width: 50px; margin-top: 220px;" src="/static/loader.gif"/></div>
                <div class="content" id="tab-content">
                    <div class="tab-content tab-content-active" data-tab="1">
                        <div class="win-loss-container">
                            <div class="win-loss-row" id="win-count">
                            </div>
                            <div class="win-loss-row" id="loss-count">
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" data-tab="2">
                        <div class="win-loss-container">
                            <div class="win-loss-row" id="total-risk">
                            </div>
                            <div class="win-loss-row" id="pl-risk">
                            </div>
                            <div class="win-loss-row" id="yield-risk">
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" data-tab="3">
                        <div class="win-loss-container">
                            <div class="win-loss-row" id="beton-total">
                            </div>
                            <div class="win-loss-row" id="beton-pl">
                            </div>
                            <div class="win-loss-row" id="beton-yield">
                            </div>
                        </div>
                    </div>
                    <div class="tab-content" data-tab="4">
                    </div>
                    <div class="tab-content" data-tab="5">
                    </div>
                    <div class="tab-content" data-tab="6">
                    </div>
                    <div class="tab-content" data-tab="7">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
